<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.america.minnesota.AmericaMinnesotaMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.america.minnesota.AmericaMinnesota">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="mn_statute" jdbcType="VARCHAR" property="mnStatute" />
    <result column="file_number" jdbcType="VARCHAR" property="fileNumber" />
    <result column="home_jurisdiction" jdbcType="VARCHAR" property="homeJurisdiction" />
    <result column="filing_date" jdbcType="VARCHAR" property="filingDate" />
    <result column="enterprise_status" jdbcType="VARCHAR" property="enterpriseStatus" />
    <result column="renewal_due_date" jdbcType="VARCHAR" property="renewalDueDate" />
    <result column="registered_office_address" jdbcType="VARCHAR" property="registeredOfficeAddress" />
    <result column="number_of_shares" jdbcType="VARCHAR" property="numberOfShares" />
    <result column="registered_agent" jdbcType="VARCHAR" property="registeredAgent" />
    <result column="chief_executive_officer" jdbcType="VARCHAR" property="chiefExecutiveOfficer" />
    <result column="principal_executive_office_address" jdbcType="VARCHAR" property="principalExecutiveOfficeAddress" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="mailing_address" jdbcType="VARCHAR" property="mailingAddress" />
    <result column="mark_type" jdbcType="VARCHAR" property="markType" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, name, business_type, mn_statute, file_number, home_jurisdiction, 
    filing_date, enterprise_status, renewal_due_date, registered_office_address, number_of_shares, 
    registered_agent, chief_executive_officer, principal_executive_office_address, manager, 
    mailing_address, mark_type, gmt_create, gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from america_minnesota
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from america_minnesota
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.america.minnesota.AmericaMinnesota">
    insert into america_minnesota (id, enterprise_id, name, 
      business_type, mn_statute, file_number, 
      home_jurisdiction, filing_date, enterprise_status, 
      renewal_due_date, registered_office_address, 
      number_of_shares, registered_agent, chief_executive_officer, 
      principal_executive_office_address, manager, 
      mailing_address, mark_type, gmt_create, 
      gmt_modified, status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{businessType,jdbcType=VARCHAR}, #{mnStatute,jdbcType=VARCHAR}, #{fileNumber,jdbcType=VARCHAR}, 
      #{homeJurisdiction,jdbcType=VARCHAR}, #{filingDate,jdbcType=VARCHAR}, #{enterpriseStatus,jdbcType=VARCHAR}, 
      #{renewalDueDate,jdbcType=VARCHAR}, #{registeredOfficeAddress,jdbcType=VARCHAR}, 
      #{numberOfShares,jdbcType=VARCHAR}, #{registeredAgent,jdbcType=VARCHAR}, #{chiefExecutiveOfficer,jdbcType=VARCHAR}, 
      #{principalExecutiveOfficeAddress,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, 
      #{mailingAddress,jdbcType=VARCHAR}, #{markType,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.america.minnesota.AmericaMinnesota">
    insert into america_minnesota
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="mnStatute != null">
        mn_statute,
      </if>
      <if test="fileNumber != null">
        file_number,
      </if>
      <if test="homeJurisdiction != null">
        home_jurisdiction,
      </if>
      <if test="filingDate != null">
        filing_date,
      </if>
      <if test="enterpriseStatus != null">
        enterprise_status,
      </if>
      <if test="renewalDueDate != null">
        renewal_due_date,
      </if>
      <if test="registeredOfficeAddress != null">
        registered_office_address,
      </if>
      <if test="numberOfShares != null">
        number_of_shares,
      </if>
      <if test="registeredAgent != null">
        registered_agent,
      </if>
      <if test="chiefExecutiveOfficer != null">
        chief_executive_officer,
      </if>
      <if test="principalExecutiveOfficeAddress != null">
        principal_executive_office_address,
      </if>
      <if test="manager != null">
        manager,
      </if>
      <if test="mailingAddress != null">
        mailing_address,
      </if>
      <if test="markType != null">
        mark_type,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="mnStatute != null">
        #{mnStatute,jdbcType=VARCHAR},
      </if>
      <if test="fileNumber != null">
        #{fileNumber,jdbcType=VARCHAR},
      </if>
      <if test="homeJurisdiction != null">
        #{homeJurisdiction,jdbcType=VARCHAR},
      </if>
      <if test="filingDate != null">
        #{filingDate,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatus != null">
        #{enterpriseStatus,jdbcType=VARCHAR},
      </if>
      <if test="renewalDueDate != null">
        #{renewalDueDate,jdbcType=VARCHAR},
      </if>
      <if test="registeredOfficeAddress != null">
        #{registeredOfficeAddress,jdbcType=VARCHAR},
      </if>
      <if test="numberOfShares != null">
        #{numberOfShares,jdbcType=VARCHAR},
      </if>
      <if test="registeredAgent != null">
        #{registeredAgent,jdbcType=VARCHAR},
      </if>
      <if test="chiefExecutiveOfficer != null">
        #{chiefExecutiveOfficer,jdbcType=VARCHAR},
      </if>
      <if test="principalExecutiveOfficeAddress != null">
        #{principalExecutiveOfficeAddress,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="mailingAddress != null">
        #{mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="markType != null">
        #{markType,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.america.minnesota.AmericaMinnesota">
    update america_minnesota
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="mnStatute != null">
        mn_statute = #{mnStatute,jdbcType=VARCHAR},
      </if>
      <if test="fileNumber != null">
        file_number = #{fileNumber,jdbcType=VARCHAR},
      </if>
      <if test="homeJurisdiction != null">
        home_jurisdiction = #{homeJurisdiction,jdbcType=VARCHAR},
      </if>
      <if test="filingDate != null">
        filing_date = #{filingDate,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatus != null">
        enterprise_status = #{enterpriseStatus,jdbcType=VARCHAR},
      </if>
      <if test="renewalDueDate != null">
        renewal_due_date = #{renewalDueDate,jdbcType=VARCHAR},
      </if>
      <if test="registeredOfficeAddress != null">
        registered_office_address = #{registeredOfficeAddress,jdbcType=VARCHAR},
      </if>
      <if test="numberOfShares != null">
        number_of_shares = #{numberOfShares,jdbcType=VARCHAR},
      </if>
      <if test="registeredAgent != null">
        registered_agent = #{registeredAgent,jdbcType=VARCHAR},
      </if>
      <if test="chiefExecutiveOfficer != null">
        chief_executive_officer = #{chiefExecutiveOfficer,jdbcType=VARCHAR},
      </if>
      <if test="principalExecutiveOfficeAddress != null">
        principal_executive_office_address = #{principalExecutiveOfficeAddress,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="mailingAddress != null">
        mailing_address = #{mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="markType != null">
        mark_type = #{markType,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.america.minnesota.AmericaMinnesota">
    update america_minnesota
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      business_type = #{businessType,jdbcType=VARCHAR},
      mn_statute = #{mnStatute,jdbcType=VARCHAR},
      file_number = #{fileNumber,jdbcType=VARCHAR},
      home_jurisdiction = #{homeJurisdiction,jdbcType=VARCHAR},
      filing_date = #{filingDate,jdbcType=VARCHAR},
      enterprise_status = #{enterpriseStatus,jdbcType=VARCHAR},
      renewal_due_date = #{renewalDueDate,jdbcType=VARCHAR},
      registered_office_address = #{registeredOfficeAddress,jdbcType=VARCHAR},
      number_of_shares = #{numberOfShares,jdbcType=VARCHAR},
      registered_agent = #{registeredAgent,jdbcType=VARCHAR},
      chief_executive_officer = #{chiefExecutiveOfficer,jdbcType=VARCHAR},
      principal_executive_office_address = #{principalExecutiveOfficeAddress,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=VARCHAR},
      mailing_address = #{mailingAddress,jdbcType=VARCHAR},
      mark_type = #{markType,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>