<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.america.massachusetts.AmericaMassachusettsOfficerMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.america.massachusetts.AmericaMassachusettsOfficer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="individual_name" jdbcType="VARCHAR" property="individualName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="term_expires" jdbcType="VARCHAR" property="termExpires" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, title, individual_name, address, term_expires, gmt_create, gmt_modified, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from america_massachusetts_officer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from america_massachusetts_officer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.america.massachusetts.AmericaMassachusettsOfficer">
    insert into america_massachusetts_officer (id, enterprise_id, title, 
      individual_name, address, term_expires, 
      gmt_create, gmt_modified, status
      )
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{individualName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{termExpires,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.america.massachusetts.AmericaMassachusettsOfficer">
    insert into america_massachusetts_officer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="individualName != null">
        individual_name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="termExpires != null">
        term_expires,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="individualName != null">
        #{individualName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="termExpires != null">
        #{termExpires,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.america.massachusetts.AmericaMassachusettsOfficer">
    update america_massachusetts_officer
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="individualName != null">
        individual_name = #{individualName,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="termExpires != null">
        term_expires = #{termExpires,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.america.massachusetts.AmericaMassachusettsOfficer">
    update america_massachusetts_officer
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      individual_name = #{individualName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      term_expires = #{termExpires,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertList" parameterType="com.rtc.manager.entity.america.massachusetts.AmericaMassachusettsOfficer">
    insert into america_massachusetts_officer (enterprise_id, title,
                                               individual_name, address, term_expires)
    values 
           <foreach collection="list" item="item" separator=",">
           (#{item.enterpriseId,jdbcType=VARCHAR}, #{item.title,jdbcType=VARCHAR},
            #{item.individualName,jdbcType=VARCHAR}, #{item.address,jdbcType=VARCHAR}, #{item.termExpires,jdbcType=VARCHAR}
           )
           </foreach>
  </insert>
</mapper>