<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.america.florida.AmericaFloridaMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.america.florida.AmericaFlorida">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="document_number" jdbcType="VARCHAR" property="documentNumber" />
    <result column="fei_ein_number" jdbcType="VARCHAR" property="feiEinNumber" />
    <result column="field_date" jdbcType="VARCHAR" property="fieldDate" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="enterprise_status" jdbcType="VARCHAR" property="enterpriseStatus" />
    <result column="effective_date" jdbcType="VARCHAR" property="effectiveDate" />
    <result column="last_event" jdbcType="VARCHAR" property="lastEvent" />
    <result column="event_filed_date" jdbcType="VARCHAR" property="eventFiledDate" />
    <result column="event_effective_date" jdbcType="VARCHAR" property="eventEffectiveDate" />
    <result column="principal_address" jdbcType="VARCHAR" property="principalAddress" />
    <result column="mailing_address" jdbcType="VARCHAR" property="mailingAddress" />
    <result column="registered_agent_name_address" jdbcType="VARCHAR" property="registeredAgentNameAddress" />
    <result column="page_url" jdbcType="VARCHAR" property="pageUrl" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, name, document_number, fei_ein_number, field_date, state, enterprise_status, 
    effective_date, last_event, event_filed_date, event_effective_date, principal_address, 
    mailing_address, registered_agent_name_address, page_url, gmt_create, gmt_modified, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from america_florida
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from america_florida
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.america.florida.AmericaFlorida">
    insert into america_florida (id, enterprise_id, name, 
      document_number, fei_ein_number, field_date, 
      state, enterprise_status, effective_date, 
      last_event, event_filed_date, event_effective_date, 
      principal_address, mailing_address, registered_agent_name_address, 
      page_url, gmt_create, gmt_modified, 
      status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{documentNumber,jdbcType=VARCHAR}, #{feiEinNumber,jdbcType=VARCHAR}, #{fieldDate,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{enterpriseStatus,jdbcType=VARCHAR}, #{effectiveDate,jdbcType=VARCHAR}, 
      #{lastEvent,jdbcType=VARCHAR}, #{eventFiledDate,jdbcType=VARCHAR}, #{eventEffectiveDate,jdbcType=VARCHAR}, 
      #{principalAddress,jdbcType=VARCHAR}, #{mailingAddress,jdbcType=VARCHAR}, #{registeredAgentNameAddress,jdbcType=VARCHAR}, 
      #{pageUrl,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.america.florida.AmericaFlorida">
    insert into america_florida
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="documentNumber != null">
        document_number,
      </if>
      <if test="feiEinNumber != null">
        fei_ein_number,
      </if>
      <if test="fieldDate != null">
        field_date,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="enterpriseStatus != null">
        enterprise_status,
      </if>
      <if test="effectiveDate != null">
        effective_date,
      </if>
      <if test="lastEvent != null">
        last_event,
      </if>
      <if test="eventFiledDate != null">
        event_filed_date,
      </if>
      <if test="eventEffectiveDate != null">
        event_effective_date,
      </if>
      <if test="principalAddress != null">
        principal_address,
      </if>
      <if test="mailingAddress != null">
        mailing_address,
      </if>
      <if test="registeredAgentNameAddress != null">
        registered_agent_name_address,
      </if>
      <if test="pageUrl != null">
        page_url,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="documentNumber != null">
        #{documentNumber,jdbcType=VARCHAR},
      </if>
      <if test="feiEinNumber != null">
        #{feiEinNumber,jdbcType=VARCHAR},
      </if>
      <if test="fieldDate != null">
        #{fieldDate,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatus != null">
        #{enterpriseStatus,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null">
        #{effectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="lastEvent != null">
        #{lastEvent,jdbcType=VARCHAR},
      </if>
      <if test="eventFiledDate != null">
        #{eventFiledDate,jdbcType=VARCHAR},
      </if>
      <if test="eventEffectiveDate != null">
        #{eventEffectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="principalAddress != null">
        #{principalAddress,jdbcType=VARCHAR},
      </if>
      <if test="mailingAddress != null">
        #{mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="registeredAgentNameAddress != null">
        #{registeredAgentNameAddress,jdbcType=VARCHAR},
      </if>
      <if test="pageUrl != null">
        #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.america.florida.AmericaFlorida">
    update america_florida
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="documentNumber != null">
        document_number = #{documentNumber,jdbcType=VARCHAR},
      </if>
      <if test="feiEinNumber != null">
        fei_ein_number = #{feiEinNumber,jdbcType=VARCHAR},
      </if>
      <if test="fieldDate != null">
        field_date = #{fieldDate,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatus != null">
        enterprise_status = #{enterpriseStatus,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null">
        effective_date = #{effectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="lastEvent != null">
        last_event = #{lastEvent,jdbcType=VARCHAR},
      </if>
      <if test="eventFiledDate != null">
        event_filed_date = #{eventFiledDate,jdbcType=VARCHAR},
      </if>
      <if test="eventEffectiveDate != null">
        event_effective_date = #{eventEffectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="principalAddress != null">
        principal_address = #{principalAddress,jdbcType=VARCHAR},
      </if>
      <if test="mailingAddress != null">
        mailing_address = #{mailingAddress,jdbcType=VARCHAR},
      </if>
      <if test="registeredAgentNameAddress != null">
        registered_agent_name_address = #{registeredAgentNameAddress,jdbcType=VARCHAR},
      </if>
      <if test="pageUrl != null">
        page_url = #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.america.florida.AmericaFlorida">
    update america_florida
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      document_number = #{documentNumber,jdbcType=VARCHAR},
      fei_ein_number = #{feiEinNumber,jdbcType=VARCHAR},
      field_date = #{fieldDate,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      enterprise_status = #{enterpriseStatus,jdbcType=VARCHAR},
      effective_date = #{effectiveDate,jdbcType=VARCHAR},
      last_event = #{lastEvent,jdbcType=VARCHAR},
      event_filed_date = #{eventFiledDate,jdbcType=VARCHAR},
      event_effective_date = #{eventEffectiveDate,jdbcType=VARCHAR},
      principal_address = #{principalAddress,jdbcType=VARCHAR},
      mailing_address = #{mailingAddress,jdbcType=VARCHAR},
      registered_agent_name_address = #{registeredAgentNameAddress,jdbcType=VARCHAR},
      page_url = #{pageUrl,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>