<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.america.wyoming.AmericaWyomingPartyMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.america.wyoming.AmericaWyomingParty">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="party_id" jdbcType="VARCHAR" property="partyId" />
    <result column="party_type" jdbcType="VARCHAR" property="partyType" />
    <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="middle_name" jdbcType="VARCHAR" property="middleName" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="individual_title" jdbcType="VARCHAR" property="individualTitle" />
    <result column="addr1" jdbcType="VARCHAR" property="addr1" />
    <result column="addr2" jdbcType="VARCHAR" property="addr2" />
    <result column="addr3" jdbcType="VARCHAR" property="addr3" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, party_id, party_type, source_id, source_type, org_name, first_name, 
    middle_name, last_name, individual_title, addr1, addr2, addr3, city, county, state, 
    postal_code, country, gmt_create, gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from america_wyoming_party
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from america_wyoming_party
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.america.wyoming.AmericaWyomingParty">
    insert into america_wyoming_party (id, enterprise_id, party_id, 
      party_type, source_id, source_type, 
      org_name, first_name, middle_name, 
      last_name, individual_title, addr1, 
      addr2, addr3, city, 
      county, state, postal_code, 
      country, gmt_create, gmt_modified, 
      status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{partyId,jdbcType=VARCHAR}, 
      #{partyType,jdbcType=VARCHAR}, #{sourceId,jdbcType=VARCHAR}, #{sourceType,jdbcType=VARCHAR}, 
      #{orgName,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, #{middleName,jdbcType=VARCHAR}, 
      #{lastName,jdbcType=VARCHAR}, #{individualTitle,jdbcType=VARCHAR}, #{addr1,jdbcType=VARCHAR}, 
      #{addr2,jdbcType=VARCHAR}, #{addr3,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{county,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.america.wyoming.AmericaWyomingParty">
    insert into america_wyoming_party
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="partyId != null">
        party_id,
      </if>
      <if test="partyType != null">
        party_type,
      </if>
      <if test="sourceId != null">
        source_id,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="firstName != null">
        first_name,
      </if>
      <if test="middleName != null">
        middle_name,
      </if>
      <if test="lastName != null">
        last_name,
      </if>
      <if test="individualTitle != null">
        individual_title,
      </if>
      <if test="addr1 != null">
        addr1,
      </if>
      <if test="addr2 != null">
        addr2,
      </if>
      <if test="addr3 != null">
        addr3,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="county != null">
        county,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="postalCode != null">
        postal_code,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="partyId != null">
        #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="partyType != null">
        #{partyType,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null">
        #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="middleName != null">
        #{middleName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="individualTitle != null">
        #{individualTitle,jdbcType=VARCHAR},
      </if>
      <if test="addr1 != null">
        #{addr1,jdbcType=VARCHAR},
      </if>
      <if test="addr2 != null">
        #{addr2,jdbcType=VARCHAR},
      </if>
      <if test="addr3 != null">
        #{addr3,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null">
        #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.america.wyoming.AmericaWyomingParty">
    update america_wyoming_party
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="partyId != null">
        party_id = #{partyId,jdbcType=VARCHAR},
      </if>
      <if test="partyType != null">
        party_type = #{partyType,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        source_id = #{sourceId,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="firstName != null">
        first_name = #{firstName,jdbcType=VARCHAR},
      </if>
      <if test="middleName != null">
        middle_name = #{middleName,jdbcType=VARCHAR},
      </if>
      <if test="lastName != null">
        last_name = #{lastName,jdbcType=VARCHAR},
      </if>
      <if test="individualTitle != null">
        individual_title = #{individualTitle,jdbcType=VARCHAR},
      </if>
      <if test="addr1 != null">
        addr1 = #{addr1,jdbcType=VARCHAR},
      </if>
      <if test="addr2 != null">
        addr2 = #{addr2,jdbcType=VARCHAR},
      </if>
      <if test="addr3 != null">
        addr3 = #{addr3,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="postalCode != null">
        postal_code = #{postalCode,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.america.wyoming.AmericaWyomingParty">
    update america_wyoming_party
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      party_id = #{partyId,jdbcType=VARCHAR},
      party_type = #{partyType,jdbcType=VARCHAR},
      source_id = #{sourceId,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      first_name = #{firstName,jdbcType=VARCHAR},
      middle_name = #{middleName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      individual_title = #{individualTitle,jdbcType=VARCHAR},
      addr1 = #{addr1,jdbcType=VARCHAR},
      addr2 = #{addr2,jdbcType=VARCHAR},
      addr3 = #{addr3,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>