<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.america.rhodeisland.AmericaRhodeislandMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.america.rhodeisland.AmericaRhodeisland">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="organisation_date" jdbcType="VARCHAR" property="organisationDate" />
    <result column="effective_date" jdbcType="VARCHAR" property="effectiveDate" />
    <result column="resident_agent_flag" jdbcType="VARCHAR" property="residentAgentFlag" />
    <result column="consent_flag" jdbcType="VARCHAR" property="consentFlag" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="principle_street" jdbcType="VARCHAR" property="principleStreet" />
    <result column="principle_city" jdbcType="VARCHAR" property="principleCity" />
    <result column="principle_state" jdbcType="VARCHAR" property="principleState" />
    <result column="principle_zip" jdbcType="VARCHAR" property="principleZip" />
    <result column="principle_country" jdbcType="VARCHAR" property="principleCountry" />
    <result column="office_street" jdbcType="VARCHAR" property="officeStreet" />
    <result column="office_city" jdbcType="VARCHAR" property="officeCity" />
    <result column="office_state" jdbcType="VARCHAR" property="officeState" />
    <result column="office_zip" jdbcType="VARCHAR" property="officeZip" />
    <result column="office_country" jdbcType="VARCHAR" property="officeCountry" />
    <result column="resident_agent_name" jdbcType="VARCHAR" property="residentAgentName" />
    <result column="resident_street" jdbcType="VARCHAR" property="residentStreet" />
    <result column="resident_city" jdbcType="VARCHAR" property="residentCity" />
    <result column="resident_state" jdbcType="VARCHAR" property="residentState" />
    <result column="resident_zip" jdbcType="VARCHAR" property="residentZip" />
    <result column="resident_country" jdbcType="VARCHAR" property="residentCountry" />
    <result column="purpose" jdbcType="VARCHAR" property="purpose" />
    <result column="naics" jdbcType="VARCHAR" property="naics" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, name, type, organisation_date, effective_date, resident_agent_flag, 
    consent_flag, number, state, country, principle_street, principle_city, principle_state, 
    principle_zip, principle_country, office_street, office_city, office_state, office_zip, 
    office_country, resident_agent_name, resident_street, resident_city, resident_state, 
    resident_zip, resident_country, purpose, naics, url, gmt_create, gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from america_rhodeisland
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from america_rhodeisland
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.america.rhodeisland.AmericaRhodeisland">
    insert into america_rhodeisland (id, enterprise_id, name, 
      type, organisation_date, effective_date, 
      resident_agent_flag, consent_flag, number, 
      state, country, principle_street, 
      principle_city, principle_state, principle_zip, 
      principle_country, office_street, office_city, 
      office_state, office_zip, office_country, 
      resident_agent_name, resident_street, resident_city, 
      resident_state, resident_zip, resident_country, 
      purpose, naics, url, 
      gmt_create, gmt_modified, status
      )
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{organisationDate,jdbcType=VARCHAR}, #{effectiveDate,jdbcType=VARCHAR}, 
      #{residentAgentFlag,jdbcType=VARCHAR}, #{consentFlag,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{principleStreet,jdbcType=VARCHAR}, 
      #{principleCity,jdbcType=VARCHAR}, #{principleState,jdbcType=VARCHAR}, #{principleZip,jdbcType=VARCHAR}, 
      #{principleCountry,jdbcType=VARCHAR}, #{officeStreet,jdbcType=VARCHAR}, #{officeCity,jdbcType=VARCHAR}, 
      #{officeState,jdbcType=VARCHAR}, #{officeZip,jdbcType=VARCHAR}, #{officeCountry,jdbcType=VARCHAR}, 
      #{residentAgentName,jdbcType=VARCHAR}, #{residentStreet,jdbcType=VARCHAR}, #{residentCity,jdbcType=VARCHAR}, 
      #{residentState,jdbcType=VARCHAR}, #{residentZip,jdbcType=VARCHAR}, #{residentCountry,jdbcType=VARCHAR}, 
      #{purpose,jdbcType=VARCHAR}, #{naics,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.america.rhodeisland.AmericaRhodeisland">
    insert into america_rhodeisland
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="organisationDate != null">
        organisation_date,
      </if>
      <if test="effectiveDate != null">
        effective_date,
      </if>
      <if test="residentAgentFlag != null">
        resident_agent_flag,
      </if>
      <if test="consentFlag != null">
        consent_flag,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="principleStreet != null">
        principle_street,
      </if>
      <if test="principleCity != null">
        principle_city,
      </if>
      <if test="principleState != null">
        principle_state,
      </if>
      <if test="principleZip != null">
        principle_zip,
      </if>
      <if test="principleCountry != null">
        principle_country,
      </if>
      <if test="officeStreet != null">
        office_street,
      </if>
      <if test="officeCity != null">
        office_city,
      </if>
      <if test="officeState != null">
        office_state,
      </if>
      <if test="officeZip != null">
        office_zip,
      </if>
      <if test="officeCountry != null">
        office_country,
      </if>
      <if test="residentAgentName != null">
        resident_agent_name,
      </if>
      <if test="residentStreet != null">
        resident_street,
      </if>
      <if test="residentCity != null">
        resident_city,
      </if>
      <if test="residentState != null">
        resident_state,
      </if>
      <if test="residentZip != null">
        resident_zip,
      </if>
      <if test="residentCountry != null">
        resident_country,
      </if>
      <if test="purpose != null">
        purpose,
      </if>
      <if test="naics != null">
        naics,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="organisationDate != null">
        #{organisationDate,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null">
        #{effectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="residentAgentFlag != null">
        #{residentAgentFlag,jdbcType=VARCHAR},
      </if>
      <if test="consentFlag != null">
        #{consentFlag,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="principleStreet != null">
        #{principleStreet,jdbcType=VARCHAR},
      </if>
      <if test="principleCity != null">
        #{principleCity,jdbcType=VARCHAR},
      </if>
      <if test="principleState != null">
        #{principleState,jdbcType=VARCHAR},
      </if>
      <if test="principleZip != null">
        #{principleZip,jdbcType=VARCHAR},
      </if>
      <if test="principleCountry != null">
        #{principleCountry,jdbcType=VARCHAR},
      </if>
      <if test="officeStreet != null">
        #{officeStreet,jdbcType=VARCHAR},
      </if>
      <if test="officeCity != null">
        #{officeCity,jdbcType=VARCHAR},
      </if>
      <if test="officeState != null">
        #{officeState,jdbcType=VARCHAR},
      </if>
      <if test="officeZip != null">
        #{officeZip,jdbcType=VARCHAR},
      </if>
      <if test="officeCountry != null">
        #{officeCountry,jdbcType=VARCHAR},
      </if>
      <if test="residentAgentName != null">
        #{residentAgentName,jdbcType=VARCHAR},
      </if>
      <if test="residentStreet != null">
        #{residentStreet,jdbcType=VARCHAR},
      </if>
      <if test="residentCity != null">
        #{residentCity,jdbcType=VARCHAR},
      </if>
      <if test="residentState != null">
        #{residentState,jdbcType=VARCHAR},
      </if>
      <if test="residentZip != null">
        #{residentZip,jdbcType=VARCHAR},
      </if>
      <if test="residentCountry != null">
        #{residentCountry,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null">
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="naics != null">
        #{naics,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.america.rhodeisland.AmericaRhodeisland">
    update america_rhodeisland
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="organisationDate != null">
        organisation_date = #{organisationDate,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null">
        effective_date = #{effectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="residentAgentFlag != null">
        resident_agent_flag = #{residentAgentFlag,jdbcType=VARCHAR},
      </if>
      <if test="consentFlag != null">
        consent_flag = #{consentFlag,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="principleStreet != null">
        principle_street = #{principleStreet,jdbcType=VARCHAR},
      </if>
      <if test="principleCity != null">
        principle_city = #{principleCity,jdbcType=VARCHAR},
      </if>
      <if test="principleState != null">
        principle_state = #{principleState,jdbcType=VARCHAR},
      </if>
      <if test="principleZip != null">
        principle_zip = #{principleZip,jdbcType=VARCHAR},
      </if>
      <if test="principleCountry != null">
        principle_country = #{principleCountry,jdbcType=VARCHAR},
      </if>
      <if test="officeStreet != null">
        office_street = #{officeStreet,jdbcType=VARCHAR},
      </if>
      <if test="officeCity != null">
        office_city = #{officeCity,jdbcType=VARCHAR},
      </if>
      <if test="officeState != null">
        office_state = #{officeState,jdbcType=VARCHAR},
      </if>
      <if test="officeZip != null">
        office_zip = #{officeZip,jdbcType=VARCHAR},
      </if>
      <if test="officeCountry != null">
        office_country = #{officeCountry,jdbcType=VARCHAR},
      </if>
      <if test="residentAgentName != null">
        resident_agent_name = #{residentAgentName,jdbcType=VARCHAR},
      </if>
      <if test="residentStreet != null">
        resident_street = #{residentStreet,jdbcType=VARCHAR},
      </if>
      <if test="residentCity != null">
        resident_city = #{residentCity,jdbcType=VARCHAR},
      </if>
      <if test="residentState != null">
        resident_state = #{residentState,jdbcType=VARCHAR},
      </if>
      <if test="residentZip != null">
        resident_zip = #{residentZip,jdbcType=VARCHAR},
      </if>
      <if test="residentCountry != null">
        resident_country = #{residentCountry,jdbcType=VARCHAR},
      </if>
      <if test="purpose != null">
        purpose = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="naics != null">
        naics = #{naics,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.america.rhodeisland.AmericaRhodeisland">
    update america_rhodeisland
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      organisation_date = #{organisationDate,jdbcType=VARCHAR},
      effective_date = #{effectiveDate,jdbcType=VARCHAR},
      resident_agent_flag = #{residentAgentFlag,jdbcType=VARCHAR},
      consent_flag = #{consentFlag,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      principle_street = #{principleStreet,jdbcType=VARCHAR},
      principle_city = #{principleCity,jdbcType=VARCHAR},
      principle_state = #{principleState,jdbcType=VARCHAR},
      principle_zip = #{principleZip,jdbcType=VARCHAR},
      principle_country = #{principleCountry,jdbcType=VARCHAR},
      office_street = #{officeStreet,jdbcType=VARCHAR},
      office_city = #{officeCity,jdbcType=VARCHAR},
      office_state = #{officeState,jdbcType=VARCHAR},
      office_zip = #{officeZip,jdbcType=VARCHAR},
      office_country = #{officeCountry,jdbcType=VARCHAR},
      resident_agent_name = #{residentAgentName,jdbcType=VARCHAR},
      resident_street = #{residentStreet,jdbcType=VARCHAR},
      resident_city = #{residentCity,jdbcType=VARCHAR},
      resident_state = #{residentState,jdbcType=VARCHAR},
      resident_zip = #{residentZip,jdbcType=VARCHAR},
      resident_country = #{residentCountry,jdbcType=VARCHAR},
      purpose = #{purpose,jdbcType=VARCHAR},
      naics = #{naics,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>