<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.america.rhodeisland.AmericaRhodeislandStockMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.america.rhodeisland.AmericaRhodeislandStock">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="stock_class" jdbcType="VARCHAR" property="stockClass" />
    <result column="series" jdbcType="VARCHAR" property="series" />
    <result column="par_value_per_share" jdbcType="VARCHAR" property="parValuePerShare" />
    <result column="total_authorized" jdbcType="VARCHAR" property="totalAuthorized" />
    <result column="total_issued_outstanding" jdbcType="VARCHAR" property="totalIssuedOutstanding" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, stock_class, series, par_value_per_share, total_authorized, total_issued_outstanding, 
    gmt_create, gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from america_rhodeisland_stock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from america_rhodeisland_stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.america.rhodeisland.AmericaRhodeislandStock">
    insert into america_rhodeisland_stock (id, enterprise_id, stock_class, 
      series, par_value_per_share, total_authorized, 
      total_issued_outstanding, gmt_create, gmt_modified, 
      status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{stockClass,jdbcType=VARCHAR}, 
      #{series,jdbcType=VARCHAR}, #{parValuePerShare,jdbcType=VARCHAR}, #{totalAuthorized,jdbcType=VARCHAR}, 
      #{totalIssuedOutstanding,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.america.rhodeisland.AmericaRhodeislandStock">
    insert into america_rhodeisland_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="stockClass != null">
        stock_class,
      </if>
      <if test="series != null">
        series,
      </if>
      <if test="parValuePerShare != null">
        par_value_per_share,
      </if>
      <if test="totalAuthorized != null">
        total_authorized,
      </if>
      <if test="totalIssuedOutstanding != null">
        total_issued_outstanding,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="stockClass != null">
        #{stockClass,jdbcType=VARCHAR},
      </if>
      <if test="series != null">
        #{series,jdbcType=VARCHAR},
      </if>
      <if test="parValuePerShare != null">
        #{parValuePerShare,jdbcType=VARCHAR},
      </if>
      <if test="totalAuthorized != null">
        #{totalAuthorized,jdbcType=VARCHAR},
      </if>
      <if test="totalIssuedOutstanding != null">
        #{totalIssuedOutstanding,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.america.rhodeisland.AmericaRhodeislandStock">
    update america_rhodeisland_stock
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="stockClass != null">
        stock_class = #{stockClass,jdbcType=VARCHAR},
      </if>
      <if test="series != null">
        series = #{series,jdbcType=VARCHAR},
      </if>
      <if test="parValuePerShare != null">
        par_value_per_share = #{parValuePerShare,jdbcType=VARCHAR},
      </if>
      <if test="totalAuthorized != null">
        total_authorized = #{totalAuthorized,jdbcType=VARCHAR},
      </if>
      <if test="totalIssuedOutstanding != null">
        total_issued_outstanding = #{totalIssuedOutstanding,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.america.rhodeisland.AmericaRhodeislandStock">
    update america_rhodeisland_stock
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      stock_class = #{stockClass,jdbcType=VARCHAR},
      series = #{series,jdbcType=VARCHAR},
      par_value_per_share = #{parValuePerShare,jdbcType=VARCHAR},
      total_authorized = #{totalAuthorized,jdbcType=VARCHAR},
      total_issued_outstanding = #{totalIssuedOutstanding,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertList" parameterType="com.rtc.manager.entity.america.rhodeisland.AmericaRhodeislandStock">
  insert into america_rhodeisland_stock (enterprise_id, stock_class,
  series, par_value_per_share, total_authorized,
  total_issued_outstanding)
  values
  <foreach collection="list" separator="," item="item">
  (#{item.enterpriseId,jdbcType=VARCHAR}, #{item.stockClass,jdbcType=VARCHAR},
  #{item.series,jdbcType=VARCHAR}, #{item.parValuePerShare,jdbcType=VARCHAR}, #{item.totalAuthorized,jdbcType=VARCHAR},
  #{item.totalIssuedOutstanding,jdbcType=VARCHAR})
  </foreach>
  </insert>
</mapper>