<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.america.maine.AmericaMaineMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.america.maine.AmericaMaine">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="charter_number" jdbcType="VARCHAR" property="charterNumber" />
    <result column="filing_type" jdbcType="VARCHAR" property="filingType" />
    <result column="enterprise_status" jdbcType="VARCHAR" property="enterpriseStatus" />
    <result column="other_names" jdbcType="VARCHAR" property="otherNames" />
    <result column="registeredAgent_name" jdbcType="VARCHAR" property="registeredagentName" />
    <result column="registeredAgent_address" jdbcType="VARCHAR" property="registeredagentAddress" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, name, charter_number, filing_type, enterprise_status, other_names, 
    registeredAgent_name, registeredAgent_address, gmt_create, gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from america_maine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from america_maine
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.america.maine.AmericaMaine">
    insert into america_maine (id, enterprise_id, name, 
      charter_number, filing_type, enterprise_status, 
      other_names, registeredAgent_name, registeredAgent_address, 
      gmt_create, gmt_modified, status
      )
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{charterNumber,jdbcType=VARCHAR}, #{filingType,jdbcType=VARCHAR}, #{enterpriseStatus,jdbcType=VARCHAR}, 
      #{otherNames,jdbcType=VARCHAR}, #{registeredagentName,jdbcType=VARCHAR}, #{registeredagentAddress,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.america.maine.AmericaMaine">
    insert into america_maine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="charterNumber != null">
        charter_number,
      </if>
      <if test="filingType != null">
        filing_type,
      </if>
      <if test="enterpriseStatus != null">
        enterprise_status,
      </if>
      <if test="otherNames != null">
        other_names,
      </if>
      <if test="registeredagentName != null">
        registeredAgent_name,
      </if>
      <if test="registeredagentAddress != null">
        registeredAgent_address,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="charterNumber != null">
        #{charterNumber,jdbcType=VARCHAR},
      </if>
      <if test="filingType != null">
        #{filingType,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatus != null">
        #{enterpriseStatus,jdbcType=VARCHAR},
      </if>
      <if test="otherNames != null">
        #{otherNames,jdbcType=VARCHAR},
      </if>
      <if test="registeredagentName != null">
        #{registeredagentName,jdbcType=VARCHAR},
      </if>
      <if test="registeredagentAddress != null">
        #{registeredagentAddress,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.america.maine.AmericaMaine">
    update america_maine
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="charterNumber != null">
        charter_number = #{charterNumber,jdbcType=VARCHAR},
      </if>
      <if test="filingType != null">
        filing_type = #{filingType,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatus != null">
        enterprise_status = #{enterpriseStatus,jdbcType=VARCHAR},
      </if>
      <if test="otherNames != null">
        other_names = #{otherNames,jdbcType=VARCHAR},
      </if>
      <if test="registeredagentName != null">
        registeredAgent_name = #{registeredagentName,jdbcType=VARCHAR},
      </if>
      <if test="registeredagentAddress != null">
        registeredAgent_address = #{registeredagentAddress,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.america.maine.AmericaMaine">
    update america_maine
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      charter_number = #{charterNumber,jdbcType=VARCHAR},
      filing_type = #{filingType,jdbcType=VARCHAR},
      enterprise_status = #{enterpriseStatus,jdbcType=VARCHAR},
      other_names = #{otherNames,jdbcType=VARCHAR},
      registeredAgent_name = #{registeredagentName,jdbcType=VARCHAR},
      registeredAgent_address = #{registeredagentAddress,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>