<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.canada.CanadaMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.canada.Canada">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="corporation_number" jdbcType="VARCHAR" property="corporationNumber" />
    <result column="business_number" jdbcType="VARCHAR" property="businessNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="enterprise_status" jdbcType="VARCHAR" property="enterpriseStatus" />
    <result column="governing_legislation" jdbcType="VARCHAR" property="governingLegislation" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, corporation_number, business_number, name, enterprise_status, 
    governing_legislation, gmt_create, gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from canada
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from canada
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.canada.Canada">
    insert into canada (id, enterprise_id, corporation_number, 
      business_number, name, enterprise_status, 
      governing_legislation, gmt_create, gmt_modified, 
      status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{corporationNumber,jdbcType=VARCHAR}, 
      #{businessNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{enterpriseStatus,jdbcType=VARCHAR}, 
      #{governingLegislation,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.canada.Canada">
    insert into canada
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="corporationNumber != null">
        corporation_number,
      </if>
      <if test="businessNumber != null">
        business_number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="enterpriseStatus != null">
        enterprise_status,
      </if>
      <if test="governingLegislation != null">
        governing_legislation,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="corporationNumber != null">
        #{corporationNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessNumber != null">
        #{businessNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatus != null">
        #{enterpriseStatus,jdbcType=VARCHAR},
      </if>
      <if test="governingLegislation != null">
        #{governingLegislation,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.canada.Canada">
    update canada
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="corporationNumber != null">
        corporation_number = #{corporationNumber,jdbcType=VARCHAR},
      </if>
      <if test="businessNumber != null">
        business_number = #{businessNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseStatus != null">
        enterprise_status = #{enterpriseStatus,jdbcType=VARCHAR},
      </if>
      <if test="governingLegislation != null">
        governing_legislation = #{governingLegislation,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.canada.Canada">
    update canada
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      corporation_number = #{corporationNumber,jdbcType=VARCHAR},
      business_number = #{businessNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      enterprise_status = #{enterpriseStatus,jdbcType=VARCHAR},
      governing_legislation = #{governingLegislation,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <resultMap id="selectCanadaEnterprise" type="com.rtc.manager.vo.canada.CanadaVO">
    <id column="canada_id" jdbcType="INTEGER" property="id" />
    <result column="canada_enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="canada_corporation_number" jdbcType="VARCHAR" property="corporationNumber" />
    <result column="canada_business_number" jdbcType="VARCHAR" property="businessNumber" />
    <result column="canada_name" jdbcType="VARCHAR" property="name" />
    <result column="canada_enterprise_status" jdbcType="VARCHAR" property="enterpriseStatus" />
    <result column="canada_governing_legislation" jdbcType="VARCHAR" property="governingLegislation" />
    <association property="registeredOfficeAddressVO" javaType="com.rtc.manager.vo.canada.CanadaRegisteredOfficeAddressVO">
      <id column="croa_id" jdbcType="INTEGER" property="id" />
      <result column="croa_care_of" jdbcType="VARCHAR" property="careOf" />
      <result column="croa_address" jdbcType="VARCHAR" property="address" />
    </association>
    <collection property="directorListVO" ofType="com.rtc.manager.vo.canada.CanadaDirectorVO">
      <id column="cd_id" jdbcType="INTEGER" property="id" />
      <result column="cd_name" jdbcType="VARCHAR" property="name" />
      <result column="cd_address" jdbcType="VARCHAR" property="address" />
    </collection>
    <collection property="annualFilingListVO" ofType="com.rtc.manager.vo.canada.CanadaAnnualFilingVO">
      <id column="caf_id" jdbcType="INTEGER" property="id" />
      <result column="caf_anniversary_date" jdbcType="VARCHAR" property="anniversaryDate" />
      <result column="caf_last_annual_meeting_date" jdbcType="VARCHAR" property="lastAnnualMeetingDate" />
      <result column="caf_annual_filing_period" jdbcType="VARCHAR" property="annualFilingPeriod" />
      <result column="caf_corporation_type" jdbcType="VARCHAR" property="corporationType" />
      <result column="caf_annual_filings_status" jdbcType="VARCHAR" property="annualFilingsStatus" />
    </collection>
    <collection property="corporateHistoryListVO" ofType="com.rtc.manager.vo.canada.CanadaCorporateHistoryVO">
      <id column="cch_id" jdbcType="INTEGER" property="id" />
      <result column="cch_date" jdbcType="VARCHAR" property="date" />
      <result column="cch_event" jdbcType="VARCHAR" property="event" />
    </collection>
  </resultMap>
  <select id="selectCanadaEnterprise" resultMap="selectCanadaEnterprise">
    SELECT
        canada.id canada_id,
        canada.enterprise_id canada_enterprise_id,
        canada.corporation_number canada_corporation_number,
        canada.business_number canada_business_number,
        canada.`name` canada_name,
        canada.enterprise_status canada_enterprise_status,
        canada.governing_legislation canada_governing_legislation,
        canada_registered_office_address.id croa_id,
        canada_registered_office_address.care_of croa_care_of,
        canada_registered_office_address.address croa_address,
        canada_annual_filing.id caf_id,
        canada_annual_filing.anniversary_date caf_anniversary_date,
        canada_annual_filing.last_annual_meeting_date caf_last_annual_meeting_date,
        canada_annual_filing.annual_filing_period caf_annual_filing_period,
        canada_annual_filing.corporation_type caf_corporation_type,
        canada_annual_filing.annual_filings_status caf_annual_filings_status,
        canada_corporate_history.id cch_id,
        canada_corporate_history.date cch_date,
        canada_corporate_history.`event` cch_event,
        canada_director.id cd_id,
        canada_director.`name` cd_name,
        canada_director.address cd_address
    FROM
        canada
        LEFT JOIN canada_registered_office_address ON canada.enterprise_id = canada_registered_office_address.enterprise_id
        LEFT JOIN canada_annual_filing ON canada.enterprise_id = canada_annual_filing.enterprise_id
        LEFT JOIN canada_corporate_history ON canada.enterprise_id = canada_corporate_history.enterprise_id
        LEFT JOIN canada_director ON canada.enterprise_id = canada_director.enterprise_id
    WHERE
        canada.`status` = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
        AND canada.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
  </select>

  <select id="checkFavouriteCanada" resultType="java.lang.String">
    SELECT
      canada.enterprise_id
    FROM
      canada
    WHERE
      canada.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
      AND canada.`status` = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
      AND EXISTS (
            SELECT enterprise_id
            FROM rtc_user_favourite
            WHERE rtc_user_favourite.enterprise_id = canada.enterprise_id
              AND rtc_user_favourite.user_id = #{userId, jdbcType=VARCHAR}
      )
  </select>
</mapper>