<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.canada.CanadaAnnualFilingMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.canada.CanadaAnnualFiling">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="anniversary_date" jdbcType="VARCHAR" property="anniversaryDate" />
    <result column="last_annual_meeting_date" jdbcType="VARCHAR" property="lastAnnualMeetingDate" />
    <result column="annual_filing_period" jdbcType="VARCHAR" property="annualFilingPeriod" />
    <result column="corporation_type" jdbcType="VARCHAR" property="corporationType" />
    <result column="annual_filings_status" jdbcType="VARCHAR" property="annualFilingsStatus" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, anniversary_date, last_annual_meeting_date, annual_filing_period, 
    corporation_type, annual_filings_status, gmt_create, gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from canada_annual_filing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from canada_annual_filing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.canada.CanadaAnnualFiling">
    insert into canada_annual_filing (id, enterprise_id, anniversary_date, 
      last_annual_meeting_date, annual_filing_period, 
      corporation_type, annual_filings_status, gmt_create, 
      gmt_modified, status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{anniversaryDate,jdbcType=VARCHAR}, 
      #{lastAnnualMeetingDate,jdbcType=VARCHAR}, #{annualFilingPeriod,jdbcType=VARCHAR}, 
      #{corporationType,jdbcType=VARCHAR}, #{annualFilingsStatus,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.canada.CanadaAnnualFiling">
    insert into canada_annual_filing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="anniversaryDate != null">
        anniversary_date,
      </if>
      <if test="lastAnnualMeetingDate != null">
        last_annual_meeting_date,
      </if>
      <if test="annualFilingPeriod != null">
        annual_filing_period,
      </if>
      <if test="corporationType != null">
        corporation_type,
      </if>
      <if test="annualFilingsStatus != null">
        annual_filings_status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="anniversaryDate != null">
        #{anniversaryDate,jdbcType=VARCHAR},
      </if>
      <if test="lastAnnualMeetingDate != null">
        #{lastAnnualMeetingDate,jdbcType=VARCHAR},
      </if>
      <if test="annualFilingPeriod != null">
        #{annualFilingPeriod,jdbcType=VARCHAR},
      </if>
      <if test="corporationType != null">
        #{corporationType,jdbcType=VARCHAR},
      </if>
      <if test="annualFilingsStatus != null">
        #{annualFilingsStatus,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.canada.CanadaAnnualFiling">
    update canada_annual_filing
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="anniversaryDate != null">
        anniversary_date = #{anniversaryDate,jdbcType=VARCHAR},
      </if>
      <if test="lastAnnualMeetingDate != null">
        last_annual_meeting_date = #{lastAnnualMeetingDate,jdbcType=VARCHAR},
      </if>
      <if test="annualFilingPeriod != null">
        annual_filing_period = #{annualFilingPeriod,jdbcType=VARCHAR},
      </if>
      <if test="corporationType != null">
        corporation_type = #{corporationType,jdbcType=VARCHAR},
      </if>
      <if test="annualFilingsStatus != null">
        annual_filings_status = #{annualFilingsStatus,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.canada.CanadaAnnualFiling">
    update canada_annual_filing
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      anniversary_date = #{anniversaryDate,jdbcType=VARCHAR},
      last_annual_meeting_date = #{lastAnnualMeetingDate,jdbcType=VARCHAR},
      annual_filing_period = #{annualFilingPeriod,jdbcType=VARCHAR},
      corporation_type = #{corporationType,jdbcType=VARCHAR},
      annual_filings_status = #{annualFilingsStatus,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>