<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.IndiaCinMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.india.IndiaCin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="cin" jdbcType="VARCHAR" property="cin" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="roc_code" jdbcType="VARCHAR" property="rocCode" />
    <result column="registration_number" jdbcType="VARCHAR" property="registrationNumber" />
    <result column="company_category" jdbcType="VARCHAR" property="companyCategory" />
    <result column="company_sub_category" jdbcType="VARCHAR" property="companySubCategory" />
    <result column="class_of_company" jdbcType="VARCHAR" property="classOfCompany" />
    <result column="authorised_capital" jdbcType="VARCHAR" property="authorisedCapital" />
    <result column="paid_up_capital" jdbcType="VARCHAR" property="paidUpCapital" />
    <result column="number_of_members" jdbcType="VARCHAR" property="numberOfMembers" />
    <result column="date_of_incorporation" jdbcType="VARCHAR" property="dateOfIncorporation" />
    <result column="email_id" jdbcType="VARCHAR" property="emailId" />
    <result column="whether_listed_or_not" jdbcType="VARCHAR" property="whetherListedOrNot" />
    <result column="active_compliant" jdbcType="VARCHAR" property="activeCompliant" />
    <result column="suspended_at_stock_exchange" jdbcType="VARCHAR" property="suspendedAtStockExchange" />
    <result column="date_of_last_agm" jdbcType="VARCHAR" property="dateOfLastAgm" />
    <result column="date_of_balance_sheet" jdbcType="VARCHAR" property="dateOfBalanceSheet" />
    <result column="company_status" jdbcType="VARCHAR" property="companyStatus" />
    <result column="registered_address" jdbcType="VARCHAR" property="registeredAddress" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, cin, company_name, roc_code, registration_number, company_category, 
    company_sub_category, class_of_company, authorised_capital, paid_up_capital, number_of_members, 
    date_of_incorporation, email_id, whether_listed_or_not, active_compliant, suspended_at_stock_exchange, 
    date_of_last_agm, date_of_balance_sheet, company_status, registered_address, gmt_create, 
    gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from india_cin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from india_cin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.india.IndiaCin">
    insert into india_cin (id, enterprise_id, cin, 
      company_name, roc_code, registration_number, 
      company_category, company_sub_category, class_of_company, 
      authorised_capital, paid_up_capital, number_of_members, 
      date_of_incorporation, email_id, whether_listed_or_not, 
      active_compliant, suspended_at_stock_exchange, 
      date_of_last_agm, date_of_balance_sheet, company_status, 
      registered_address, gmt_create, gmt_modified,
      status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{cin,jdbcType=VARCHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{rocCode,jdbcType=VARCHAR}, #{registrationNumber,jdbcType=VARCHAR}, 
      #{companyCategory,jdbcType=VARCHAR}, #{companySubCategory,jdbcType=VARCHAR}, #{classOfCompany,jdbcType=VARCHAR}, 
      #{authorisedCapital,jdbcType=VARCHAR}, #{paidUpCapital,jdbcType=VARCHAR}, #{numberOfMembers,jdbcType=VARCHAR}, 
      #{dateOfIncorporation,jdbcType=VARCHAR}, #{emailId,jdbcType=VARCHAR}, #{whetherListedOrNot,jdbcType=VARCHAR}, 
      #{activeCompliant,jdbcType=VARCHAR}, #{suspendedAtStockExchange,jdbcType=VARCHAR}, 
      #{dateOfLastAgm,jdbcType=VARCHAR}, #{dateOfBalanceSheet,jdbcType=VARCHAR}, #{companyStatus,jdbcType=VARCHAR}, 
      #{registeredAddress,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.india.IndiaCin">
    insert into india_cin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="cin != null">
        cin,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="rocCode != null">
        roc_code,
      </if>
      <if test="registrationNumber != null">
        registration_number,
      </if>
      <if test="companyCategory != null">
        company_category,
      </if>
      <if test="companySubCategory != null">
        company_sub_category,
      </if>
      <if test="classOfCompany != null">
        class_of_company,
      </if>
      <if test="authorisedCapital != null">
        authorised_capital,
      </if>
      <if test="paidUpCapital != null">
        paid_up_capital,
      </if>
      <if test="numberOfMembers != null">
        number_of_members,
      </if>
      <if test="dateOfIncorporation != null">
        date_of_incorporation,
      </if>
      <if test="emailId != null">
        email_id,
      </if>
      <if test="whetherListedOrNot != null">
        whether_listed_or_not,
      </if>
      <if test="activeCompliant != null">
        active_compliant,
      </if>
      <if test="suspendedAtStockExchange != null">
        suspended_at_stock_exchange,
      </if>
      <if test="dateOfLastAgm != null">
        date_of_last_agm,
      </if>
      <if test="dateOfBalanceSheet != null">
        date_of_balance_sheet,
      </if>
      <if test="companyStatus != null">
        company_status,
      </if>
      <if test="registeredAddress != null">
        registered_address,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="cin != null">
        #{cin,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="rocCode != null">
        #{rocCode,jdbcType=VARCHAR},
      </if>
      <if test="registrationNumber != null">
        #{registrationNumber,jdbcType=VARCHAR},
      </if>
      <if test="companyCategory != null">
        #{companyCategory,jdbcType=VARCHAR},
      </if>
      <if test="companySubCategory != null">
        #{companySubCategory,jdbcType=VARCHAR},
      </if>
      <if test="classOfCompany != null">
        #{classOfCompany,jdbcType=VARCHAR},
      </if>
      <if test="authorisedCapital != null">
        #{authorisedCapital,jdbcType=VARCHAR},
      </if>
      <if test="paidUpCapital != null">
        #{paidUpCapital,jdbcType=VARCHAR},
      </if>
      <if test="numberOfMembers != null">
        #{numberOfMembers,jdbcType=VARCHAR},
      </if>
      <if test="dateOfIncorporation != null">
        #{dateOfIncorporation,jdbcType=VARCHAR},
      </if>
      <if test="emailId != null">
        #{emailId,jdbcType=VARCHAR},
      </if>
      <if test="whetherListedOrNot != null">
        #{whetherListedOrNot,jdbcType=VARCHAR},
      </if>
      <if test="activeCompliant != null">
        #{activeCompliant,jdbcType=VARCHAR},
      </if>
      <if test="suspendedAtStockExchange != null">
        #{suspendedAtStockExchange,jdbcType=VARCHAR},
      </if>
      <if test="dateOfLastAgm != null">
        #{dateOfLastAgm,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBalanceSheet != null">
        #{dateOfBalanceSheet,jdbcType=VARCHAR},
      </if>
      <if test="companyStatus != null">
        #{companyStatus,jdbcType=VARCHAR},
      </if>
      <if test="registeredAddress != null">
        #{registeredAddress,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.india.IndiaCin">
    update india_cin
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="cin != null">
        cin = #{cin,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="rocCode != null">
        roc_code = #{rocCode,jdbcType=VARCHAR},
      </if>
      <if test="registrationNumber != null">
        registration_number = #{registrationNumber,jdbcType=VARCHAR},
      </if>
      <if test="companyCategory != null">
        company_category = #{companyCategory,jdbcType=VARCHAR},
      </if>
      <if test="companySubCategory != null">
        company_sub_category = #{companySubCategory,jdbcType=VARCHAR},
      </if>
      <if test="classOfCompany != null">
        class_of_company = #{classOfCompany,jdbcType=VARCHAR},
      </if>
      <if test="authorisedCapital != null">
        authorised_capital = #{authorisedCapital,jdbcType=VARCHAR},
      </if>
      <if test="paidUpCapital != null">
        paid_up_capital = #{paidUpCapital,jdbcType=VARCHAR},
      </if>
      <if test="numberOfMembers != null">
        number_of_members = #{numberOfMembers,jdbcType=VARCHAR},
      </if>
      <if test="dateOfIncorporation != null">
        date_of_incorporation = #{dateOfIncorporation,jdbcType=VARCHAR},
      </if>
      <if test="emailId != null">
        email_id = #{emailId,jdbcType=VARCHAR},
      </if>
      <if test="whetherListedOrNot != null">
        whether_listed_or_not = #{whetherListedOrNot,jdbcType=VARCHAR},
      </if>
      <if test="activeCompliant != null">
        active_compliant = #{activeCompliant,jdbcType=VARCHAR},
      </if>
      <if test="suspendedAtStockExchange != null">
        suspended_at_stock_exchange = #{suspendedAtStockExchange,jdbcType=VARCHAR},
      </if>
      <if test="dateOfLastAgm != null">
        date_of_last_agm = #{dateOfLastAgm,jdbcType=VARCHAR},
      </if>
      <if test="dateOfBalanceSheet != null">
        date_of_balance_sheet = #{dateOfBalanceSheet,jdbcType=VARCHAR},
      </if>
      <if test="companyStatus != null">
        company_status = #{companyStatus,jdbcType=VARCHAR},
      </if>
      <if test="registeredAddress != null">
        registered_address = #{registeredAddress,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.india.IndiaCin">
    update india_cin
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      cin = #{cin,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      roc_code = #{rocCode,jdbcType=VARCHAR},
      registration_number = #{registrationNumber,jdbcType=VARCHAR},
      company_category = #{companyCategory,jdbcType=VARCHAR},
      company_sub_category = #{companySubCategory,jdbcType=VARCHAR},
      class_of_company = #{classOfCompany,jdbcType=VARCHAR},
      authorised_capital = #{authorisedCapital,jdbcType=VARCHAR},
      paid_up_capital = #{paidUpCapital,jdbcType=VARCHAR},
      number_of_members = #{numberOfMembers,jdbcType=VARCHAR},
      date_of_incorporation = #{dateOfIncorporation,jdbcType=VARCHAR},
      email_id = #{emailId,jdbcType=VARCHAR},
      whether_listed_or_not = #{whetherListedOrNot,jdbcType=VARCHAR},
      active_compliant = #{activeCompliant,jdbcType=VARCHAR},
      suspended_at_stock_exchange = #{suspendedAtStockExchange,jdbcType=VARCHAR},
      date_of_last_agm = #{dateOfLastAgm,jdbcType=VARCHAR},
      date_of_balance_sheet = #{dateOfBalanceSheet,jdbcType=VARCHAR},
      company_status = #{companyStatus,jdbcType=VARCHAR},
      registered_address = #{registeredAddress,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <resultMap id="selectEnterprise" type="com.rtc.manager.vo.india.IndiaCinEnterpriseVO">
    <result column="code" property="code"/>
    <association property="indiaCin" javaType="com.rtc.manager.vo.india.IndiaCinVO">
      <id column="cin_id" property="id" jdbcType="INTEGER" />
      <result column="cin_enterprise_id" property="enterpriseId" jdbcType="VARCHAR" />
      <result column="cin_cin" property="cin" jdbcType="VARCHAR" />
      <result column="cin_company_name" property="companyName" jdbcType="VARCHAR" />
      <result column="cin_roc_code" property="rocCode" jdbcType="VARCHAR" />
      <result column="cin_registration_number" property="registrationNumber" jdbcType="VARCHAR" />
      <result column="cin_company_category" property="companyCategory" jdbcType="VARCHAR" />
      <result column="cin_company_sub_category" property="companySubCategory" jdbcType="VARCHAR" />
      <result column="cin_class_of_company" property="classOfCompany" jdbcType="VARCHAR" />
      <result column="cin_authorised_capital" property="authorisedCapital" jdbcType="VARCHAR" />
      <result column="cin_paid_up_capital" property="paidUpCapital" jdbcType="VARCHAR" />
      <result column="cin_number_of_members" property="numberOfMembers" jdbcType="VARCHAR" />
      <result column="cin_date_of_incorporation" property="dateOfIncorporation" jdbcType="VARCHAR" />
      <result column="cin_email_id" property="emailId" jdbcType="VARCHAR" />
      <result column="cin_whether_listed_or_not" property="whetherListedOrNot" jdbcType="VARCHAR" />
      <result column="cin_active_compliant" property="activeCompliant" jdbcType="VARCHAR" />
      <result column="cin_suspended_at_stock_exchange" property="suspendedAtStockExchange" jdbcType="VARCHAR" />
      <result column="cin_date_of_last_agm" property="dateOfLastAgm" jdbcType="VARCHAR" />
      <result column="cin_date_of_balance_sheet" property="dateOfBalanceSheet" jdbcType="VARCHAR" />
      <result column="cin_company_status" property="companyStatus" jdbcType="VARCHAR" />
      <result column="cin_registered_address" property="registeredAddress" jdbcType="VARCHAR" />
    </association>
    <collection property="chargeList" ofType="com.rtc.manager.vo.india.IndiaChargeVO">
      <id column="charge_id" property="id" jdbcType="INTEGER" />
      <result column="charge_enterprise_id" property="enterpriseId" jdbcType="VARCHAR"/>
      <result column="charge_srn" property="srn" jdbcType="VARCHAR"/>
      <result column="charge_charge_id" property="chargeId" jdbcType="VARCHAR"/>
      <result column="charge_charge_holder_name" property="chargeHolderName" jdbcType="VARCHAR"/>
      <result column="charge_date_of_creation" property="dateOfCreation" jdbcType="VARCHAR"/>
      <result column="charge_date_of_modification" property="dateOfModification" jdbcType="VARCHAR"/>
      <result column="charge_date_of_satisfaction" property="dateOfSatisfaction" jdbcType="VARCHAR"/>
      <result column="charge_amount" property="amount" jdbcType="VARCHAR"/>
      <result column="charge_address" property="address" jdbcType="VARCHAR"/>
    </collection>
    <collection property="signatoryList" ofType="com.rtc.manager.vo.india.IndiaSignatoryVO">
      <id column="signatory_id" property="id" jdbcType="INTEGER" />
      <result column="signatory_enterprise_id" property="enterpriseId" jdbcType="VARCHAR"/>
      <result column="signatory_din_pan" property="dinPan" jdbcType="VARCHAR"/>
      <result column="signatory_name" property="name" jdbcType="VARCHAR"/>
      <result column="signatory_begin_date" property="beginDate" jdbcType="VARCHAR"/>
      <result column="signatory_end_date" property="endDate" jdbcType="VARCHAR"/>
      <result column="signatory_surrendered_din" property="surrenderedDin" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>
  <select id="selectEnterprise" resultMap="selectEnterprise">
    SELECT
      200 code,
      india_cin.id cin_id,
      india_cin.enterprise_id cin_enterprise_id,
      india_cin.cin cin_cin,
      india_cin.company_name cin_company_name,
      india_cin.roc_code cin_roc_code,
      india_cin.registration_number cin_registration_number,
      india_cin.company_category cin_company_category,
      india_cin.company_sub_category cin_company_sub_category,
      india_cin.class_of_company cin_class_of_company,
      india_cin.authorised_capital cin_authorised_capital,
      india_cin.paid_up_capital cin_paid_up_capital,
      india_cin.number_of_members cin_number_of_members,
      india_cin.date_of_incorporation cin_date_of_incorporation,
      india_cin.email_id cin_email_id,
      india_cin.whether_listed_or_not cin_whether_listed_or_not,
      india_cin.active_compliant cin_active_compliant,
      india_cin.suspended_at_stock_exchange cin_suspended_at_stock_exchange,
      india_cin.date_of_last_agm cin_date_of_last_agm,
      india_cin.date_of_balance_sheet cin_date_of_balance_sheet,
      india_cin.company_status cin_company_status,
      india_cin.registered_address cin_registered_address,
      india_charge.id charge_id,
      india_charge.enterprise_id charge_enterprise_id,
      india_charge.srn charge_srn,
      india_charge.charge_id charge_charge_id,
      india_charge.charge_holder_name charge_charge_holder_name,
      india_charge.date_of_creation charge_date_of_creation,
      india_charge.date_of_modification charge_date_of_modification,
      india_charge.date_of_satisfaction charge_date_of_satisfaction,
      india_charge.amount charge_amount,
      india_charge.address charge_address,
      india_signatory.id signatory_id,
      india_signatory.enterprise_id signatory_enterprise_id,
      india_signatory.din_pan signatory_din_pan,
      india_signatory.`name` signatory_name,
      india_signatory.begin_date signatory_begin_date,
      india_signatory.end_date signatory_end_date,
      india_signatory.surrendered_din signatory_surrendered_din
    FROM
        india_cin
        LEFT JOIN india_charge ON india_cin.enterprise_id = india_charge.enterprise_id
        LEFT JOIN india_signatory ON india_cin.enterprise_id = india_signatory.enterprise_id
    WHERE
        india_cin.`status` = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
        AND india_cin.enterprise_id = #{enterpriseId}
  </select>

  <select id="checkFavouriteIndiaCin" resultType="java.lang.String">
        SELECT
            india_cin.enterprise_id
        FROM
            india_cin
        WHERE
            india_cin.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
            AND india_cin.`status` = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            AND EXISTS (
                SELECT enterprise_id
                FROM rtc_user_favourite
                WHERE rtc_user_favourite.enterprise_id=india_cin.enterprise_id
                    AND rtc_user_favourite.user_id = #{userId, jdbcType=VARCHAR}
            )
    </select>
</mapper>