<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.IndiaLlpinMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.india.IndiaLlpin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="llpin" jdbcType="VARCHAR" property="llpin" />
    <result column="llp_name" jdbcType="VARCHAR" property="llpName" />
    <result column="number_of_partners" jdbcType="VARCHAR" property="numberOfPartners" />
    <result column="number_of_designated_partners" jdbcType="VARCHAR" property="numberOfDesignatedPartners" />
    <result column="roc_code" jdbcType="VARCHAR" property="rocCode" />
    <result column="date_of_incorporation" jdbcType="VARCHAR" property="dateOfIncorporation" />
    <result column="registrated_address" jdbcType="VARCHAR" property="registratedAddress" />
    <result column="email_id" jdbcType="VARCHAR" property="emailId" />
    <result column="previous_firm" jdbcType="VARCHAR" property="previousFirm" />
    <result column="total_obligation_of_contribution" jdbcType="VARCHAR" property="totalObligationOfContribution" />
    <result column="main_division_of_business" jdbcType="VARCHAR" property="mainDivisionOfBusiness" />
    <result column="description_of_main_division" jdbcType="VARCHAR" property="descriptionOfMainDivision" />
    <result column="statement_date" jdbcType="VARCHAR" property="statementDate" />
    <result column="annual_date" jdbcType="VARCHAR" property="annualDate" />
    <result column="llp_status" jdbcType="VARCHAR" property="llpStatus" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, llpin, llp_name, number_of_partners, number_of_designated_partners, 
    roc_code, date_of_incorporation, registrated_address, email_id, previous_firm, total_obligation_of_contribution, 
    main_division_of_business, description_of_main_division, statement_date, annual_date, 
    llp_status, gmt_create, gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from india_llpin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from india_llpin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.india.IndiaLlpin">
    insert into india_llpin (id, enterprise_id, llpin, 
      llp_name, number_of_partners, number_of_designated_partners, 
      roc_code, date_of_incorporation, registrated_address, 
      email_id, previous_firm, total_obligation_of_contribution, 
      main_division_of_business, description_of_main_division, 
      statement_date, annual_date, llp_status, 
      gmt_create, gmt_modified, status
      )
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{llpin,jdbcType=VARCHAR}, 
      #{llpName,jdbcType=VARCHAR}, #{numberOfPartners,jdbcType=VARCHAR}, #{numberOfDesignatedPartners,jdbcType=VARCHAR}, 
      #{rocCode,jdbcType=VARCHAR}, #{dateOfIncorporation,jdbcType=VARCHAR}, #{registratedAddress,jdbcType=VARCHAR}, 
      #{emailId,jdbcType=VARCHAR}, #{previousFirm,jdbcType=VARCHAR}, #{totalObligationOfContribution,jdbcType=VARCHAR}, 
      #{mainDivisionOfBusiness,jdbcType=VARCHAR}, #{descriptionOfMainDivision,jdbcType=VARCHAR}, 
      #{statementDate,jdbcType=VARCHAR}, #{annualDate,jdbcType=VARCHAR}, #{llpStatus,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.india.IndiaLlpin">
    insert into india_llpin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="llpin != null">
        llpin,
      </if>
      <if test="llpName != null">
        llp_name,
      </if>
      <if test="numberOfPartners != null">
        number_of_partners,
      </if>
      <if test="numberOfDesignatedPartners != null">
        number_of_designated_partners,
      </if>
      <if test="rocCode != null">
        roc_code,
      </if>
      <if test="dateOfIncorporation != null">
        date_of_incorporation,
      </if>
      <if test="registratedAddress != null">
        registrated_address,
      </if>
      <if test="emailId != null">
        email_id,
      </if>
      <if test="previousFirm != null">
        previous_firm,
      </if>
      <if test="totalObligationOfContribution != null">
        total_obligation_of_contribution,
      </if>
      <if test="mainDivisionOfBusiness != null">
        main_division_of_business,
      </if>
      <if test="descriptionOfMainDivision != null">
        description_of_main_division,
      </if>
      <if test="statementDate != null">
        statement_date,
      </if>
      <if test="annualDate != null">
        annual_date,
      </if>
      <if test="llpStatus != null">
        llp_status,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="llpin != null">
        #{llpin,jdbcType=VARCHAR},
      </if>
      <if test="llpName != null">
        #{llpName,jdbcType=VARCHAR},
      </if>
      <if test="numberOfPartners != null">
        #{numberOfPartners,jdbcType=VARCHAR},
      </if>
      <if test="numberOfDesignatedPartners != null">
        #{numberOfDesignatedPartners,jdbcType=VARCHAR},
      </if>
      <if test="rocCode != null">
        #{rocCode,jdbcType=VARCHAR},
      </if>
      <if test="dateOfIncorporation != null">
        #{dateOfIncorporation,jdbcType=VARCHAR},
      </if>
      <if test="registratedAddress != null">
        #{registratedAddress,jdbcType=VARCHAR},
      </if>
      <if test="emailId != null">
        #{emailId,jdbcType=VARCHAR},
      </if>
      <if test="previousFirm != null">
        #{previousFirm,jdbcType=VARCHAR},
      </if>
      <if test="totalObligationOfContribution != null">
        #{totalObligationOfContribution,jdbcType=VARCHAR},
      </if>
      <if test="mainDivisionOfBusiness != null">
        #{mainDivisionOfBusiness,jdbcType=VARCHAR},
      </if>
      <if test="descriptionOfMainDivision != null">
        #{descriptionOfMainDivision,jdbcType=VARCHAR},
      </if>
      <if test="statementDate != null">
        #{statementDate,jdbcType=VARCHAR},
      </if>
      <if test="annualDate != null">
        #{annualDate,jdbcType=VARCHAR},
      </if>
      <if test="llpStatus != null">
        #{llpStatus,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.india.IndiaLlpin">
    update india_llpin
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="llpin != null">
        llpin = #{llpin,jdbcType=VARCHAR},
      </if>
      <if test="llpName != null">
        llp_name = #{llpName,jdbcType=VARCHAR},
      </if>
      <if test="numberOfPartners != null">
        number_of_partners = #{numberOfPartners,jdbcType=VARCHAR},
      </if>
      <if test="numberOfDesignatedPartners != null">
        number_of_designated_partners = #{numberOfDesignatedPartners,jdbcType=VARCHAR},
      </if>
      <if test="rocCode != null">
        roc_code = #{rocCode,jdbcType=VARCHAR},
      </if>
      <if test="dateOfIncorporation != null">
        date_of_incorporation = #{dateOfIncorporation,jdbcType=VARCHAR},
      </if>
      <if test="registratedAddress != null">
        registrated_address = #{registratedAddress,jdbcType=VARCHAR},
      </if>
      <if test="emailId != null">
        email_id = #{emailId,jdbcType=VARCHAR},
      </if>
      <if test="previousFirm != null">
        previous_firm = #{previousFirm,jdbcType=VARCHAR},
      </if>
      <if test="totalObligationOfContribution != null">
        total_obligation_of_contribution = #{totalObligationOfContribution,jdbcType=VARCHAR},
      </if>
      <if test="mainDivisionOfBusiness != null">
        main_division_of_business = #{mainDivisionOfBusiness,jdbcType=VARCHAR},
      </if>
      <if test="descriptionOfMainDivision != null">
        description_of_main_division = #{descriptionOfMainDivision,jdbcType=VARCHAR},
      </if>
      <if test="statementDate != null">
        statement_date = #{statementDate,jdbcType=VARCHAR},
      </if>
      <if test="annualDate != null">
        annual_date = #{annualDate,jdbcType=VARCHAR},
      </if>
      <if test="llpStatus != null">
        llp_status = #{llpStatus,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.india.IndiaLlpin">
    update india_llpin
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      llpin = #{llpin,jdbcType=VARCHAR},
      llp_name = #{llpName,jdbcType=VARCHAR},
      number_of_partners = #{numberOfPartners,jdbcType=VARCHAR},
      number_of_designated_partners = #{numberOfDesignatedPartners,jdbcType=VARCHAR},
      roc_code = #{rocCode,jdbcType=VARCHAR},
      date_of_incorporation = #{dateOfIncorporation,jdbcType=VARCHAR},
      registrated_address = #{registratedAddress,jdbcType=VARCHAR},
      email_id = #{emailId,jdbcType=VARCHAR},
      previous_firm = #{previousFirm,jdbcType=VARCHAR},
      total_obligation_of_contribution = #{totalObligationOfContribution,jdbcType=VARCHAR},
      main_division_of_business = #{mainDivisionOfBusiness,jdbcType=VARCHAR},
      description_of_main_division = #{descriptionOfMainDivision,jdbcType=VARCHAR},
      statement_date = #{statementDate,jdbcType=VARCHAR},
      annual_date = #{annualDate,jdbcType=VARCHAR},
      llp_status = #{llpStatus,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <resultMap id="selectEnterprise" type="com.rtc.manager.vo.india.IndiaLlpinEnterpriseVO">
    <result column="code" property="code"/>
    <association property="indiaLlpinVO" javaType="com.rtc.manager.vo.india.IndiaLlpinVO">
      <id column="llpin_id" property="id" jdbcType="INTEGER" />
      <result column="llpin_enterprise_id" property="enterpriseId" jdbcType="VARCHAR" />
      <result column="llpin_llpin" property="llpin" jdbcType="VARCHAR" />
      <result column="llpin_llp_name" property="llpName" jdbcType="VARCHAR" />
      <result column="llpin_number_of_partners" property="numberOfPartners" jdbcType="VARCHAR" />
      <result column="llpin_number_of_designated_partners" property="numberOfDesignatedPartners" jdbcType="VARCHAR" />
      <result column="llpin_roc_code" property="rocCode" jdbcType="VARCHAR" />
      <result column="llpin_date_of_incorporation" property="dateOfIncorporation" jdbcType="VARCHAR" />
      <result column="llpin_registrated_address" property="registratedAddress" jdbcType="VARCHAR" />
      <result column="llpin_email_id" property="emailId" jdbcType="VARCHAR" />
      <result column="llpin_previous_firm" property="previousFirm" jdbcType="VARCHAR" />
      <result column="llpin_total_obligation_of_contribution" property="totalObligationOfContribution" jdbcType="VARCHAR" />
      <result column="llpin_main_division_of_business" property="mainDivisionOfBusiness" jdbcType="VARCHAR" />
      <result column="llpin_description_of_main_division" property="descriptionOfMainDivision" jdbcType="VARCHAR" />
      <result column="llpin_statement_date" property="statementDate" jdbcType="VARCHAR" />
      <result column="llpin_annual_date" property="annualDate" jdbcType="VARCHAR" />
      <result column="llpin_llp_status" property="llpStatus" jdbcType="VARCHAR" />
    </association>
    <collection property="chargeList" ofType="com.rtc.manager.vo.india.IndiaChargeVO">
      <id column="charge_id" property="id" jdbcType="INTEGER" />
      <result column="charge_enterprise_id" property="enterpriseId" jdbcType="VARCHAR"/>
      <result column="charge_srn" property="srn" jdbcType="VARCHAR"/>
      <result column="charge_charge_id" property="chargeId" jdbcType="VARCHAR"/>
      <result column="charge_charge_holder_name" property="chargeHolderName" jdbcType="VARCHAR"/>
      <result column="charge_date_of_creation" property="dateOfCreation" jdbcType="VARCHAR"/>
      <result column="charge_date_of_modification" property="dateOfModification" jdbcType="VARCHAR"/>
      <result column="charge_date_of_satisfaction" property="dateOfSatisfaction" jdbcType="VARCHAR"/>
      <result column="charge_amount" property="amount" jdbcType="VARCHAR"/>
      <result column="charge_address" property="address" jdbcType="VARCHAR"/>
    </collection>
    <collection property="signatoryList" ofType="com.rtc.manager.vo.india.IndiaSignatoryVO">
      <id column="signatory_id" property="id" jdbcType="INTEGER" />
      <result column="signatory_enterprise_id" property="enterpriseId" jdbcType="VARCHAR"/>
      <result column="signatory_din_pan" property="dinPan" jdbcType="VARCHAR"/>
      <result column="signatory_name" property="name" jdbcType="VARCHAR"/>
      <result column="signatory_begin_date" property="beginDate" jdbcType="VARCHAR"/>
      <result column="signatory_end_date" property="endDate" jdbcType="VARCHAR"/>
      <result column="signatory_surrendered_din" property="surrenderedDin" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>
  <select id="selectEnterprise" resultMap="selectEnterprise">
    SELECT
      200 code,
      india_llpin.id llpin_id,
      india_llpin.enterprise_id llpin_enterprise_id,
      india_llpin.llpin llpin_llpin,
      india_llpin.llp_name llpin_llp_name,
      india_llpin.number_of_partners llpin_number_of_partners,
      india_llpin.number_of_designated_partners llpin_number_of_designated_partners,
      india_llpin.roc_code llpin_roc_code,
      india_llpin.date_of_incorporation llpin_date_of_incorporation,
      india_llpin.registrated_address llpin_registrated_address,
      india_llpin.email_id llpin_email_id,
      india_llpin.previous_firm llpin_previous_firm,
      india_llpin.total_obligation_of_contribution llpin_total_obligation_of_contribution,
      india_llpin.main_division_of_business llpin_main_division_of_business,
      india_llpin.description_of_main_division llpin_description_of_main_division,
      india_llpin.statement_date llpin_statement_date,
      india_llpin.annual_date llpin_annual_date,
      india_llpin.llp_status llpin_llp_status,
      india_charge.id charge_id,
      india_charge.enterprise_id charge_enterprise_id,
      india_charge.srn charge_srn,
      india_charge.charge_id charge_charge_id,
      india_charge.charge_holder_name charge_charge_holder_name,
      india_charge.date_of_creation charge_date_of_creation,
      india_charge.date_of_modification charge_date_of_modification,
      india_charge.date_of_satisfaction charge_date_of_satisfaction,
      india_charge.amount charge_amount,
      india_charge.address charge_address,
      india_signatory.id signatory_id,
      india_signatory.enterprise_id signatory_enterprise_id,
      india_signatory.din_pan signatory_din_pan,
      india_signatory.`name` signatory_name,
      india_signatory.begin_date signatory_begin_date,
      india_signatory.end_date signatory_end_date,
      india_signatory.surrendered_din signatory_surrendered_din
    FROM
        india_llpin
        LEFT JOIN india_charge ON india_llpin.enterprise_id = india_charge.enterprise_id
        LEFT JOIN india_signatory ON india_llpin.enterprise_id = india_signatory.enterprise_id
    WHERE
        india_llpin.`status` = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
        AND india_llpin.enterprise_id = #{enterpriseId}
  </select>

  <select id="checkFavouriteIndiaLlpin" resultType="java.lang.String">
        SELECT
            india_llpin.enterprise_id
        FROM
            india_llpin
        WHERE
            india_llpin.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
            AND india_llpin.`status` = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            AND EXISTS (
                SELECT enterprise_id
                FROM rtc_user_favourite
                WHERE rtc_user_favourite.enterprise_id=india_llpin.enterprise_id
                    AND rtc_user_favourite.user_id = #{userId, jdbcType=VARCHAR}
            )
    </select>
</mapper>