<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.IndiaChargeMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.india.IndiaCharge">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="srn" jdbcType="VARCHAR" property="srn" />
    <result column="charge_id" jdbcType="VARCHAR" property="chargeId" />
    <result column="charge_holder_name" jdbcType="VARCHAR" property="chargeHolderName" />
    <result column="date_of_creation" jdbcType="VARCHAR" property="dateOfCreation" />
    <result column="date_of_modification" jdbcType="VARCHAR" property="dateOfModification" />
    <result column="date_of_satisfaction" jdbcType="VARCHAR" property="dateOfSatisfaction" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, srn, charge_id, charge_holder_name, date_of_creation, date_of_modification, 
    date_of_satisfaction, amount, address, gmt_create, gmt_modify, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from india_charge
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from india_charge
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.india.IndiaCharge">
    insert into india_charge (id, enterprise_id, srn, 
      charge_id, charge_holder_name, date_of_creation, 
      date_of_modification, date_of_satisfaction, 
      amount, address, gmt_create, 
      gmt_modify, status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{srn,jdbcType=VARCHAR}, 
      #{chargeId,jdbcType=VARCHAR}, #{chargeHolderName,jdbcType=VARCHAR}, #{dateOfCreation,jdbcType=VARCHAR}, 
      #{dateOfModification,jdbcType=VARCHAR}, #{dateOfSatisfaction,jdbcType=VARCHAR}, 
      #{amount,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.india.IndiaCharge">
    insert into india_charge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="srn != null">
        srn,
      </if>
      <if test="chargeId != null">
        charge_id,
      </if>
      <if test="chargeHolderName != null">
        charge_holder_name,
      </if>
      <if test="dateOfCreation != null">
        date_of_creation,
      </if>
      <if test="dateOfModification != null">
        date_of_modification,
      </if>
      <if test="dateOfSatisfaction != null">
        date_of_satisfaction,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="srn != null">
        #{srn,jdbcType=VARCHAR},
      </if>
      <if test="chargeId != null">
        #{chargeId,jdbcType=VARCHAR},
      </if>
      <if test="chargeHolderName != null">
        #{chargeHolderName,jdbcType=VARCHAR},
      </if>
      <if test="dateOfCreation != null">
        #{dateOfCreation,jdbcType=VARCHAR},
      </if>
      <if test="dateOfModification != null">
        #{dateOfModification,jdbcType=VARCHAR},
      </if>
      <if test="dateOfSatisfaction != null">
        #{dateOfSatisfaction,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.india.IndiaCharge">
    update india_charge
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="srn != null">
        srn = #{srn,jdbcType=VARCHAR},
      </if>
      <if test="chargeId != null">
        charge_id = #{chargeId,jdbcType=VARCHAR},
      </if>
      <if test="chargeHolderName != null">
        charge_holder_name = #{chargeHolderName,jdbcType=VARCHAR},
      </if>
      <if test="dateOfCreation != null">
        date_of_creation = #{dateOfCreation,jdbcType=VARCHAR},
      </if>
      <if test="dateOfModification != null">
        date_of_modification = #{dateOfModification,jdbcType=VARCHAR},
      </if>
      <if test="dateOfSatisfaction != null">
        date_of_satisfaction = #{dateOfSatisfaction,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.india.IndiaCharge">
    update india_charge
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      srn = #{srn,jdbcType=VARCHAR},
      charge_id = #{chargeId,jdbcType=VARCHAR},
      charge_holder_name = #{chargeHolderName,jdbcType=VARCHAR},
      date_of_creation = #{dateOfCreation,jdbcType=VARCHAR},
      date_of_modification = #{dateOfModification,jdbcType=VARCHAR},
      date_of_satisfaction = #{dateOfSatisfaction,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>