<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.QccAdministrativeSanctionMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.QccAdministrativeSanction">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="determine_document_number" jdbcType="VARCHAR" property="determineDocumentNumber" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="publication_date" jdbcType="VARCHAR" property="publicationDate" />
    <result column="decision_making_organ" jdbcType="VARCHAR" property="decisionMakingOrgan" />
    <result column="decision_date" jdbcType="VARCHAR" property="decisionDate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="punishment_unit" jdbcType="VARCHAR" property="punishmentUnit" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="punishment_date" jdbcType="VARCHAR" property="punishmentDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.rtc.manager.entity.QccAdministrativeSanction">
    <result column="violations_type" jdbcType="LONGVARCHAR" property="violationsType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, determine_document_number, content, publication_date, decision_making_organ, 
    decision_date, gmt_create, gmt_modify, status, punishment_unit, source, punishment_date
  </sql>
  <sql id="Blob_Column_List">
    violations_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from qcc_administrative_sanction
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qcc_administrative_sanction
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.QccAdministrativeSanction">
    insert into qcc_administrative_sanction (id, enterprise_id, determine_document_number, 
      content, publication_date, decision_making_organ, 
      decision_date, gmt_create, gmt_modify, 
      status, punishment_unit, source, 
      punishment_date, violations_type)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{determineDocumentNumber,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{publicationDate,jdbcType=VARCHAR}, #{decisionMakingOrgan,jdbcType=VARCHAR}, 
      #{decisionDate,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{punishmentUnit,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{punishmentDate,jdbcType=VARCHAR}, #{violationsType,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.QccAdministrativeSanction">
    insert into qcc_administrative_sanction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="determineDocumentNumber != null">
        determine_document_number,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="publicationDate != null">
        publication_date,
      </if>
      <if test="decisionMakingOrgan != null">
        decision_making_organ,
      </if>
      <if test="decisionDate != null">
        decision_date,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="punishmentUnit != null">
        punishment_unit,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="punishmentDate != null">
        punishment_date,
      </if>
      <if test="violationsType != null">
        violations_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="determineDocumentNumber != null">
        #{determineDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="publicationDate != null">
        #{publicationDate,jdbcType=VARCHAR},
      </if>
      <if test="decisionMakingOrgan != null">
        #{decisionMakingOrgan,jdbcType=VARCHAR},
      </if>
      <if test="decisionDate != null">
        #{decisionDate,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="punishmentUnit != null">
        #{punishmentUnit,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="punishmentDate != null">
        #{punishmentDate,jdbcType=VARCHAR},
      </if>
      <if test="violationsType != null">
        #{violationsType,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.QccAdministrativeSanction">
    update qcc_administrative_sanction
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="determineDocumentNumber != null">
        determine_document_number = #{determineDocumentNumber,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="publicationDate != null">
        publication_date = #{publicationDate,jdbcType=VARCHAR},
      </if>
      <if test="decisionMakingOrgan != null">
        decision_making_organ = #{decisionMakingOrgan,jdbcType=VARCHAR},
      </if>
      <if test="decisionDate != null">
        decision_date = #{decisionDate,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="punishmentUnit != null">
        punishment_unit = #{punishmentUnit,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="punishmentDate != null">
        punishment_date = #{punishmentDate,jdbcType=VARCHAR},
      </if>
      <if test="violationsType != null">
        violations_type = #{violationsType,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.rtc.manager.entity.QccAdministrativeSanction">
    update qcc_administrative_sanction
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      determine_document_number = #{determineDocumentNumber,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      publication_date = #{publicationDate,jdbcType=VARCHAR},
      decision_making_organ = #{decisionMakingOrgan,jdbcType=VARCHAR},
      decision_date = #{decisionDate,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      punishment_unit = #{punishmentUnit,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      punishment_date = #{punishmentDate,jdbcType=VARCHAR},
      violations_type = #{violationsType,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.QccAdministrativeSanction">
    update qcc_administrative_sanction
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      determine_document_number = #{determineDocumentNumber,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      publication_date = #{publicationDate,jdbcType=VARCHAR},
      decision_making_organ = #{decisionMakingOrgan,jdbcType=VARCHAR},
      decision_date = #{decisionDate,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      punishment_unit = #{punishmentUnit,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      punishment_date = #{punishmentDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>