<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.QccEquityChangeMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.QccEquityChange">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="shareholder" jdbcType="VARCHAR" property="shareholder" />
    <result column="before" jdbcType="VARCHAR" property="before" />
    <result column="after" jdbcType="VARCHAR" property="after" />
    <result column="change_date" jdbcType="VARCHAR" property="changeDate" />
    <result column="release_date" jdbcType="VARCHAR" property="releaseDate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, shareholder, `before`, `after`, change_date, release_date, gmt_create,
    gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qcc_equity_change
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qcc_equity_change
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.QccEquityChange">
    insert into qcc_equity_change (id, enterprise_id, shareholder, 
      `before`, `after`, change_date,
      release_date, gmt_create, gmt_modified,
      status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{shareholder,jdbcType=VARCHAR}, 
      #{before,jdbcType=VARCHAR}, #{after,jdbcType=VARCHAR}, #{changeDate,jdbcType=VARCHAR}, 
      #{releaseDate,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.QccEquityChange">
    insert into qcc_equity_change
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="shareholder != null">
        shareholder,
      </if>
      <if test="before != null">
        `before`,
      </if>
      <if test="after != null">
        `after`,
      </if>
      <if test="changeDate != null">
        change_date,
      </if>
      <if test="releaseDate != null">
        release_date,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="shareholder != null">
        #{shareholder,jdbcType=VARCHAR},
      </if>
      <if test="before != null">
        #{before,jdbcType=VARCHAR},
      </if>
      <if test="after != null">
        #{after,jdbcType=VARCHAR},
      </if>
      <if test="changeDate != null">
        #{changeDate,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.QccEquityChange">
    update qcc_equity_change
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="shareholder != null">
        shareholder = #{shareholder,jdbcType=VARCHAR},
      </if>
      <if test="before != null">
        `before` = #{before,jdbcType=VARCHAR},
      </if>
      <if test="after != null">
        `after` = #{after,jdbcType=VARCHAR},
      </if>
      <if test="changeDate != null">
        change_date = #{changeDate,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        release_date = #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.QccEquityChange">
    update qcc_equity_change
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      shareholder = #{shareholder,jdbcType=VARCHAR},
      `before` = #{before,jdbcType=VARCHAR},
      `after` = #{after,jdbcType=VARCHAR},
      change_date = #{changeDate,jdbcType=VARCHAR},
      release_date = #{releaseDate,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>