<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.QccFilingInformationMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.QccFilingInformation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="prosecutor" jdbcType="VARCHAR" property="prosecutor" />
    <result column="defendant" jdbcType="VARCHAR" property="defendant" />
    <result column="court_name" jdbcType="VARCHAR" property="courtName" />
    <result column="filing_date" jdbcType="VARCHAR" property="filingDate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, code, prosecutor, defendant, court_name, filing_date, gmt_create, 
    gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qcc_filing_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qcc_filing_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.QccFilingInformation">
    insert into qcc_filing_information (id, enterprise_id, code, 
      prosecutor, defendant, court_name, 
      filing_date, gmt_create, gmt_modified,
      status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{prosecutor,jdbcType=VARCHAR}, #{defendant,jdbcType=VARCHAR}, #{courtName,jdbcType=VARCHAR}, 
      #{filingDate,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.QccFilingInformation">
    insert into qcc_filing_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="prosecutor != null">
        prosecutor,
      </if>
      <if test="defendant != null">
        defendant,
      </if>
      <if test="courtName != null">
        court_name,
      </if>
      <if test="filingDate != null">
        filing_date,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="prosecutor != null">
        #{prosecutor,jdbcType=VARCHAR},
      </if>
      <if test="defendant != null">
        #{defendant,jdbcType=VARCHAR},
      </if>
      <if test="courtName != null">
        #{courtName,jdbcType=VARCHAR},
      </if>
      <if test="filingDate != null">
        #{filingDate,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.QccFilingInformation">
    update qcc_filing_information
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="prosecutor != null">
        prosecutor = #{prosecutor,jdbcType=VARCHAR},
      </if>
      <if test="defendant != null">
        defendant = #{defendant,jdbcType=VARCHAR},
      </if>
      <if test="courtName != null">
        court_name = #{courtName,jdbcType=VARCHAR},
      </if>
      <if test="filingDate != null">
        filing_date = #{filingDate,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.QccFilingInformation">
    update qcc_filing_information
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      prosecutor = #{prosecutor,jdbcType=VARCHAR},
      defendant = #{defendant,jdbcType=VARCHAR},
      court_name = #{courtName,jdbcType=VARCHAR},
      filing_date = #{filingDate,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>