<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.QccMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.Qcc">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="rtc_enterprise_uuid" jdbcType="VARCHAR" property="rtcEnterpriseUuid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="country_region" jdbcType="VARCHAR" property="countryRegion" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="synopsis" jdbcType="VARCHAR" property="synopsis" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id,rtc_enterprise_uuid, name, telephone, url, email, address, country_region, gmt_create,
    gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qcc
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qcc
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.Qcc">
    insert into qcc (id, enterprise_id,rtc_enterprise_uuid, name,
      telephone, url, email, 
      address, country_region, gmt_create, 
      gmt_modified, status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR},
      #{rtcEnterpriseUuid,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},
      #{telephone,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{countryRegion,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.Qcc">
    insert into qcc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="rtcEnterpriseUuid != null">
        rtc_enterprise_uuid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="countryRegion != null">
        country_region,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="synopsis != null">
        synopsis,
      </if>
      <if test="nation != null">
          nation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="rtcEnterpriseUuid != null">
        #{rtcEnterpriseUuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="countryRegion != null">
        #{countryRegion,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="synopsis != null">
        #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.Qcc">
    update qcc
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="rtcEnterpriseUuid != null">
        rtc_enterprise_uuid = #{rtcEnterpriseUuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="countryRegion != null">
        country_region = #{countryRegion,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="synopsis != null">
          synopsis = #{synopsis,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.Qcc">
    update qcc
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      rtc_enterprise_uuid = #{rtcEnterpriseUuid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      country_region = #{countryRegion,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      synopsis = #{synopsis,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByName" resultType="com.rtc.manager.vo.QccListVO">
    SELECT
        qcc.id,
        qcc.enterprise_id enterpriseId,
    IF
        ( qbi.english_name = '-', qcc.NAME, qbi.english_name ) name,
        qbi.registered_capital registeredCapital,
        qbi.legal_representative legalRepresentative,
        qbi.establishment_date establishmentDate,
        qcc.address,
        qcc.country_region countryRegion,
        qcc.nation
    FROM
        qcc
        LEFT JOIN qcc_business_information qbi ON qcc.enterprise_id = qbi.enterprise_id
    WHERE
        qcc.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
        AND qbi.english_name LIKE concat('%',#{name},'%')
    UNION
    SELECT
        qcc.id,
        qcc.enterprise_id enterpriseId,
    IF
        ( qbi.english_name = '-', qcc.NAME, qbi.english_name ) name,
        qbi.registered_capital registeredCapital,
        qbi.legal_representative legalRepresentative,
        qbi.establishment_date establishmentDate,
        qcc.address,
        qcc.country_region countryRegion,
        qcc.nation
    FROM
        qcc
        LEFT JOIN qcc_business_information qbi ON qcc.enterprise_id = qbi.enterprise_id
    WHERE
        qcc.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
        and qcc.name like concat('%',#{name},'%')
  </select>

  <resultMap id="selectByEnterpriseIdMap"  type="com.rtc.manager.vo.QccVO">
    <id property="id" column="id" jdbcType="INTEGER"/>
    <result property="enterpriseId" column="enterprise_id" jdbcType="VARCHAR"/>
    <result property="name" column="name" jdbcType="VARCHAR"/>
    <result property="registeredCapital" column="registered_capital" jdbcType="VARCHAR"/>
    <result property="legalRepresentative" column="legal_representative" jdbcType="VARCHAR"/>
    <result property="establishmentDate" column="establishment_date" jdbcType="VARCHAR"/>
    <result property="address" column="address" jdbcType="VARCHAR"/>
    <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
    <result property="url" column="url" jdbcType="VARCHAR"/>
    <result property="synopsis" column="synopsis" jdbcType="VARCHAR"/>
    <result property="countryRegion" column="country_region" jdbcType="VARCHAR"/>
    <result property="nation" column="nation" jdbcType="VARCHAR"/>
    <collection property="shareholderList" ofType="com.rtc.manager.vo.QccShareholderVO">
      <id property="id" column="qs_id" jdbcType="INTEGER"/>
      <result property="enterpriseId" column="qs_enterprise_id" jdbcType="VARCHAR"/>
      <result property="name" column="qs_name" jdbcType="VARCHAR"/>
      <result property="ratio" column="qs_ratio" jdbcType="VARCHAR"/>
      <result property="subscribedCapital" column="qs_subscribed_capital" jdbcType="VARCHAR"/>
      <result property="subscribedCapitalDate" column="qs_subscribed_capital_date" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>

  <select id="selectByEnterpriseId" resultMap="selectByEnterpriseIdMap">
    SELECT
        qcc.id,
        qcc.enterprise_id,
        IF
	( qbi.english_name != '-' OR qbi.english_name != NULL, qbi.english_name, qcc.NAME ) NAME,
        qbi.registered_capital,
        qbi.legal_representative,
        qbi.establishment_date,
        qcc.address,
        qcc.telephone,
        qcc.url,
        qcc.synopsis,
        qcc.country_region,
        qcc.nation,
        `qcc_shareholder`.`id` qs_id,
        `qcc_shareholder`.`enterprise_id` qs_enterprise_id,
        qcc_shareholder.`name` qs_name,
        `qcc_shareholder`.`ratio` qs_ratio,
        `qcc_shareholder`.`subscribed_capital` qs_subscribed_capital,
        `qcc_shareholder`.`subscribed_capital_date` qs_subscribed_capital_date
    FROM
        qcc
        LEFT JOIN qcc_business_information qbi ON qcc.enterprise_id = qbi.enterprise_id
        LEFT JOIN `qcc_shareholder` ON qcc.enterprise_id = `qcc_shareholder`.`enterprise_id`
    WHERE
        qcc.`status` = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
        AND qcc.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
  </select>


  <select id="listQccAdministrativeLicenseVO" resultType="com.rtc.manager.vo.QccAdministrativeLicenseVO">
    SELECT
        qcc_administrative_license.id,
        qcc_administrative_license.enterprise_id enterpriseId,
        qcc_administrative_license.decision_document_no decisionDocumentNo,
        qcc_administrative_license.license_authority licenseAuthority,
        qcc_administrative_license.license_date licenseDate,
        qcc_administrative_license.content,
        qcc_administrative_license.valid_from validFrom,
        qcc_administrative_license.valid_until validUntil,
        qcc_administrative_license.decision_document_name decisionDocumentName
    FROM
        qcc_administrative_license
    WHERE
        qcc_administrative_license.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
        and qcc_administrative_license.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
  </select>

    <resultMap id="qccAnnualReportVO" type="com.rtc.manager.vo.QccAnnualReportVO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="uuid" jdbcType="VARCHAR" property="uuid" />
        <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
        <result column="year" jdbcType="VARCHAR" property="year" />
        <result column="unified_social_credit_code" jdbcType="VARCHAR" property="unifiedSocialCreditCode" />
        <result column="registration_number" jdbcType="VARCHAR" property="registrationNumber" />
        <result column="business_status" jdbcType="VARCHAR" property="businessStatus" />
        <result column="business_telephone" jdbcType="VARCHAR" property="businessTelephone" />
        <result column="e_mail" jdbcType="VARCHAR" property="eMail" />
        <result column="post_code" jdbcType="VARCHAR" property="postCode" />
        <result column="staff_number" jdbcType="VARCHAR" property="staffNumber" />
        <result column="equity_transfer" jdbcType="VARCHAR" property="equityTransfer" />
        <result column="purchase_equity" jdbcType="VARCHAR" property="purchaseEquity" />
        <result column="postal_address" jdbcType="VARCHAR" property="postalAddress" />
        <result column="total_assets" jdbcType="VARCHAR" property="totalAssets" />
        <result column="total_equity" jdbcType="VARCHAR" property="totalEquity" />
        <result column="total_operating_income" jdbcType="VARCHAR" property="totalOperatingIncome" />
        <result column="total_profit" jdbcType="VARCHAR" property="totalProfit" />
        <result column="net_profit" jdbcType="VARCHAR" property="netProfit" />
        <result column="main_business_income" jdbcType="VARCHAR" property="mainBusinessIncome" />
        <result column="total_tax" jdbcType="VARCHAR" property="totalTax" />
        <result column="total_liabilities" jdbcType="VARCHAR" property="totalLiabilities" />
        <result column="endowment_insurance" jdbcType="VARCHAR" property="endowmentInsurance" />
        <result column="medical_insurance" jdbcType="VARCHAR" property="medicalInsurance" />
        <result column="maternity_insurance" jdbcType="VARCHAR" property="maternityInsurance" />
        <result column="unemployment_insurance" jdbcType="VARCHAR" property="unemploymentInsurance" />
        <result column="employment_injury_insurance" jdbcType="VARCHAR" property="employmentInjuryInsurance" />
        <collection property="qccAnnualReportShareholderVOList"
                    ofType="com.rtc.manager.vo.QccAnnualReportShareholderVO">
            <id column="s_id" jdbcType="INTEGER" property="id" />
            <result column="s_annual_report_uuid" jdbcType="VARCHAR" property="annualReportUuid" />
            <result column="s_enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
            <result column="s_name" jdbcType="VARCHAR" property="name" />
            <result column="s_subscribed_capital" jdbcType="VARCHAR" property="subscribedCapital" />
            <result column="s_subscribed_capital_date" jdbcType="VARCHAR" property="subscribedCapitalDate" />
            <result column="s_subscribed_capital_way" jdbcType="VARCHAR" property="subscribedCapitalWay" />
            <result column="s_paid_capital" jdbcType="VARCHAR" property="paidCapital" />
            <result column="s_paid_capital_date" jdbcType="VARCHAR" property="paidCapitalDate" />
            <result column="s_paid_capital_way" jdbcType="VARCHAR" property="paidCapitalWay" />
        </collection>
    </resultMap>
  <select id="listQccAnnualReportVO" resultMap="qccAnnualReportVO">
    SELECT
        `qcc_annual_report`.`id`,
        `qcc_annual_report`.`uuid`,
        `qcc_annual_report`.`enterprise_id`,
        `qcc_annual_report`.`year`,
        `qcc_annual_report`.`unified_social_credit_code`,
        `qcc_annual_report`.`registration_number`,
        `qcc_annual_report`.`business_status`,
        `qcc_annual_report`.`business_telephone`,
        `qcc_annual_report`.`e_mail`,
        `qcc_annual_report`.`post_code`,
        `qcc_annual_report`.`staff_number`,
        `qcc_annual_report`.`equity_transfer`,
        `qcc_annual_report`.`purchase_equity`,
        `qcc_annual_report`.`postal_address`,
        `qcc_annual_report`.`total_assets`,
        `qcc_annual_report`.`total_equity`,
        `qcc_annual_report`.`total_operating_income`,
        `qcc_annual_report`.`total_profit`,
        `qcc_annual_report`.`net_profit`,
        `qcc_annual_report`.`main_business_income`,
        `qcc_annual_report`.`total_tax`,
        `qcc_annual_report`.`total_liabilities`,
        `qcc_annual_report`.`endowment_insurance`,
        `qcc_annual_report`.`medical_insurance`,
        `qcc_annual_report`.`maternity_insurance`,
        `qcc_annual_report`.`unemployment_insurance`,
        `qcc_annual_report`.`employment_injury_insurance`,
        `qcc_annual_report_shareholder`.`id` s_id,
        `qcc_annual_report_shareholder`.`annual_report_uuid` s_annual_report_uuid,
        `qcc_annual_report_shareholder`.`enterprise_id` s_enterprise_id,
        `qcc_annual_report_shareholder`.`name` s_name,
        `qcc_annual_report_shareholder`.`subscribed_capital` s_subscribed_capital,
        `qcc_annual_report_shareholder`.`subscribed_capital_date` s_subscribed_capital_date,
        `qcc_annual_report_shareholder`.`subscribed_capital_way` s_subscribed_capital_way,
        `qcc_annual_report_shareholder`.`paid_capital` s_paid_capital,
        `qcc_annual_report_shareholder`.`paid_capital_date` s_paid_capital_date,
        `qcc_annual_report_shareholder`.`paid_capital_way` s_paid_capital_way
    FROM
        `qcc_annual_report`
	LEFT JOIN qcc_annual_report_shareholder ON qcc_annual_report.uuid = qcc_annual_report_shareholder.annual_report_uuid
    WHERE
        qcc_annual_report.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
        and `qcc_annual_report`.`enterprise_id` = #{enterpriseId, jdbcType=VARCHAR}
  </select>

  <select id="listQccGeneralTaxpayerVO" resultType="com.rtc.manager.vo.QccGeneralTaxpayerVO">
    select
        id, enterprise_id enterpriseId, name, code, qualification_type qualificationType, competent_tax_authority competentTaxAuthority,
        valid_from validFrom, valid_end validEnd
    from
        qcc_general_taxpayer where enterprise_id = #{enterpriseId, jdbcType=VARCHAR} and `status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
  </select>

    <select id="listQccImportExportCreditVO" resultType="com.rtc.manager.vo.QccImportExportCreditVO">
        select id, enterprise_id enterpriseId, registered_customs registeredCustoms, business_category businessCategory,
        registration_date registrationDate, content
        from qcc_import_export_credit where enterprise_id = #{enterpriseId, jdbcType=VARCHAR} and `status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccJudgmentDocumentVO" resultType="com.rtc.manager.vo.QccJudgmentDocumentVO">
        select id, enterprise_id enterpriseId, title, reason, release_date releaseDate, case_code caseCode, case_status caseStatus,
         court_name courtName
        from qcc_judgment_document where enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
         and `status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccKeymanVO" resultType="com.rtc.manager.vo.QccKeymanVO">
        select id, enterprise_id enterpriseId, name, duty, shareholding_ratio shareholdingRatio, ultimate_beneficial_shares ultimateBeneficialShares
        from qcc_keyman where enterprise_id = #{enterpriseId, jdbcType=VARCHAR}  and `status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccQualificationCertificateVO" resultType="com.rtc.manager.vo.QccQualificationCertificateVO">
        select id, enterprise_id enterpriseId, certificate_type certificateType, certificate_name certificateName,
         certificate_code certificateCode, issue_date issueDate, closing_date closingDate
        from qcc_qualification_certificate where enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
         and `status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccTaxCreditVO" resultType="com.rtc.manager.vo.QccTaxCreditVO">
        select id, enterprise_id enterpriseId, year, taxpayer_identification_number taxpayerIdentificationNumber,
        tax_credit_rank taxCreditRank
        from qcc_tax_credit where enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
         and `status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccWebsiteInformationVO" resultType="com.rtc.manager.vo.QccWebsiteInformationVO">
        select id, enterprise_id enterpriseId, website_name websiteName, url, domain_name domainName, license_code licenseCode,
         audit_date auditDate
        from qcc_website_information where enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
         and `status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>

    <select id="listQccBiddingVO" resultType="com.rtc.manager.vo.QccBiddingVO">
        SELECT
            `qcc_bidding`.`id`,`qcc_bidding`.`enterprise_id` enterpriseId,
            `qcc_bidding`.`name`,`qcc_bidding`.`province`,`qcc_bidding`.`progress`
        FROM
            `qcc_bidding`
        WHERE
            status = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            and enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
    </select>
    <select id="listQccLandPurchaseInformationVO" resultType="com.rtc.manager.vo.QccLandPurchaseInformationVO">
        SELECT
            `qcc_land_purchase_information`.`id`,
            `qcc_land_purchase_information`.`enterprise_id` enterpriseId,
            `qcc_land_purchase_information`.`location`,
            `qcc_land_purchase_information`.`purpose`,
            `qcc_land_purchase_information`.`area`,
            `qcc_land_purchase_information`.`administrative_region` administrativeRegion,
            `qcc_land_purchase_information`.`land_supply_mode` landSupplyMode,
            `qcc_land_purchase_information`.`contract_signing_date` contractSigningDate
        FROM
            `qcc_land_purchase_information`
        WHERE
            status = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            and enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
    </select>
    <select id="listQccSupplierVO" resultType="com.rtc.manager.vo.QccSupplierVO">
        SELECT
            `qcc_supplier`.`id`,
            `qcc_supplier`.`enterprise_id` enterpriseId,
            `qcc_supplier`.`name`,
            `qcc_supplier`.`proportion_of_procurement` proportionOfProcurement,
            `qcc_supplier`.`purchase_amount` purchaseAmount,
            `qcc_supplier`.`report_period` reportPeriod,
            `qcc_supplier`.`source`,
            `qcc_supplier`.`relationship`
        FROM
            `qcc_supplier`
        WHERE
            status = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            and enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
    </select>
    <select id="listQccAdministrativeSanctionVO" resultType="com.rtc.manager.vo.QccAdministrativeSanctionVO">
        SELECT
            `qcc_administrative_sanction`.`id`,
            `qcc_administrative_sanction`.`enterprise_id` enterpriseId,
            `qcc_administrative_sanction`.`determine_document_number` determineDocumentNumber,
            `qcc_administrative_sanction`.`violations_type` violationsType,
            `qcc_administrative_sanction`.`content`,
            `qcc_administrative_sanction`.`publication_date` publicationDate,
            `qcc_administrative_sanction`.`decision_making_organ` decisionMakingOrgan,
            `qcc_administrative_sanction`.`decision_date` decisionDate
        FROM
            `qcc_administrative_sanction`
        WHERE
            status = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            and enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
    </select>
    <select id="listQccFinancingConsultationVO" resultType="com.rtc.manager.vo.QccFinancingConsultationVO">
        SELECT
            `qcc_financing_consultation`.`id`,
            `qcc_financing_consultation`.`enterprise_id` enterpriseId,
            `qcc_financing_consultation`.`date`,
            `qcc_financing_consultation`.`name`,
            `qcc_financing_consultation`.`financing_round` financingRound,
            `qcc_financing_consultation`.`amount`,
            `qcc_financing_consultation`.`investor`,
            `qcc_financing_consultation`.`source`
        FROM
            `qcc_financing_consultation`
        WHERE
            status = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            and enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
    </select>
    <select id="listQccAppVO" resultType="com.rtc.manager.vo.QccAppVO">
        SELECT
            `qcc_app`.`id`,
            `qcc_app`.`enterprise_id` enterpriseId,
            `qcc_app`.`name`,
            `qcc_app`.`sort`,
            `qcc_app`.`current_version` currentVersion,
            `qcc_app`.`brief_introduction` briefIntroduction
        FROM
            `qcc_app`
        WHERE
            status = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            and enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
    </select>
    <select id="listQccAppletVO" resultType="com.rtc.manager.vo.QccAppletVO">
        SELECT
            `qcc_applet`.`id`,
            `qcc_applet`.`enterprise_id` enterpriseId,
            `qcc_applet`.`name`,
            `qcc_applet`.`sort`,
            `qcc_applet`.`associated_official_account` associatedOfficialAccount,
            `qcc_applet`.`predict_reading_volume` predictReadingVolume
        FROM
            `qcc_applet`
        WHERE
            status = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            and enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
    </select>
    <select id="listQccWechatVO" resultType="com.rtc.manager.vo.QccWechatVO">
        SELECT
            `qcc_wechat`.`id`,
            `qcc_wechat`.`enterprise_id` enterpriseId,
            `qcc_wechat`.`name`,
            `qcc_wechat`.`account`,
            `qcc_wechat`.`brief_introduction` briefIntroduction
        FROM
            `qcc_wechat`
        WHERE
            status = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            and enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
    </select>
    <select id="listQccWeiboVO" resultType="com.rtc.manager.vo.QccWeiboVO">
        SELECT
            `qcc_weibo`.`id`,
            `qcc_weibo`.`enterprise_id` enterpriseId,
            `qcc_weibo`.`nickname`,
            `qcc_weibo`.`industry_category` industryCategory,
            `qcc_weibo`.`brief_introduction` briefIntroduction
        FROM
            `qcc_weibo`
        WHERE
            status = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            and enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
    </select>

    <select id="listQccSoftwareCopyrightVO" resultType="com.rtc.manager.vo.QccSoftwareCopyrightVO">
        SELECT
            `qcc_software_copyright`.`id`,
            `qcc_software_copyright`.`enterprise_id` enterpriseId,
            `qcc_software_copyright`.`name`,
            `qcc_software_copyright`.`version`,
            `qcc_software_copyright`.`release_date` releaseDate,
            `qcc_software_copyright`.`abbreviation`,
            `qcc_software_copyright`.`registration_number` registrationNumber,
            `qcc_software_copyright`.`registration_approval_date` registrationApprovalDate
        FROM
            `qcc_software_copyright`
        WHERE
            status = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            and enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
    </select>


    <resultMap id="qccAbnormalOperationVO" type="com.rtc.manager.vo.QccAbnormalOperationVO">
        <id column="qcc_id" property="id" jdbcType="INTEGER"/>
        <result property="enterpriseId" column="qcc_enterprise_id" jdbcType="VARCHAR"/>
        <collection property="qccRemoveExceptionVOList" ofType="com.rtc.manager.vo.QccRemoveExceptionVO">
            <id column="qre_id" jdbcType="INTEGER" property="id" />
            <result column="qre_enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
            <result column="qre_save_reason" jdbcType="VARCHAR" property="saveReason" />
            <result column="qre_desicion_authority" jdbcType="VARCHAR" property="desicionAuthority" />
            <result column="qre_remove_date" jdbcType="VARCHAR" property="removeDate" />
            <result column="qre_remove_reason" jdbcType="VARCHAR" property="removeReason" />
        </collection>
        <collection property="qccSaveExceptionVOList" ofType="com.rtc.manager.vo.QccSaveExceptionVO">
            <id column="id" jdbcType="INTEGER" property="id" />
            <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
            <result column="save_date" jdbcType="VARCHAR" property="saveDate" />
            <result column="desicion_authority" jdbcType="VARCHAR" property="desicionAuthority" />
            <result column="save_reason" jdbcType="VARCHAR" property="saveReason" />
        </collection>
    </resultMap>
    <select id="listQccAbnormalOperationVO" resultMap="qccAbnormalOperationVO">
        SELECT
            qcc.id qcc_id,
            qcc.enterprise_id qcc_enterprise_id,
            `qcc_remove_exception`.`id` qre_id,
            `qcc_remove_exception`.`enterprise_id` qre_enterprise_id,
            `qcc_remove_exception`.`save_reason` qre_save_reason,
            `qcc_remove_exception`.`desicion_authority` qre_desicion_authority,
            `qcc_remove_exception`.`remove_date` qre_remove_date,
            `qcc_remove_exception`.`remove_reason` qre_remove_reason,
            `qcc_save_exception`.`id`,
            `qcc_save_exception`.`enterprise_id`,
            `qcc_save_exception`.`save_date`,
            `qcc_save_exception`.`desicion_authority`,
            `qcc_save_exception`.`save_reason`
        FROM
            qcc
            LEFT JOIN `qcc_remove_exception` ON qcc.enterprise_id = `qcc_remove_exception`.`enterprise_id`
            LEFT JOIN `qcc_save_exception` ON qcc.enterprise_id = `qcc_save_exception`.`enterprise_id`
        WHERE
            qcc.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
            and qcc.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>

    <select id="listQccClientVO" resultType="com.rtc.manager.vo.QccClientVO">
        SELECT
            `qcc_client`.`id`,
            `qcc_client`.`enterprise_id` enterpriseId,
            `qcc_client`.`name`,
            `qcc_client`.`sale_proportion` saleProportion,
            `qcc_client`.`sale_amount` saleAmount,
            `qcc_client`.`report_date` reportDate,
            `qcc_client`.`source`,
            `qcc_client`.`relationship`
        FROM
            `qcc_client`
        WHERE
            qcc_client.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
            and qcc_client.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>

    <select id="listQccCourtNoticeVO" resultType="com.rtc.manager.vo.QccCourtNoticeVO">
        SELECT
            `qcc_court_notice`.`id`,
            `qcc_court_notice`.`enterprise_id` enterpriseId,
            `qcc_court_notice`.`case_code` caseCode,
            `qcc_court_notice`.`court_date` courtDate,
            `qcc_court_notice`.`reason`,
            `qcc_court_notice`.`litigant`
        FROM
            `qcc_court_notice`
        WHERE
            qcc_court_notice.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
            and qcc_court_notice.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>

    <select id="listQccFilingInformationVO" resultType="com.rtc.manager.vo.QccFilingInformationVO">
        SELECT
            `qcc_filing_information`.`id`,
            `qcc_filing_information`.`enterprise_id` enterpriseId,
            `qcc_filing_information`.`code`,
            `qcc_filing_information`.`prosecutor`,
            `qcc_filing_information`.`defendant`,
            `qcc_filing_information`.`court_name` courtName,
            `qcc_filing_information`.`filing_date` filingDate
        FROM
            `qcc_filing_information`
        WHERE
            qcc_filing_information.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
            and qcc_filing_information.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>

    <select id="listQccAdministrativeLicenseChinaVO" resultType="com.rtc.manager.vo.QccAdministrativeLicenseChinaVO">
        SELECT
            `qcc_administrative_license_china`.`id`,
            `qcc_administrative_license_china`.`enterprise_id` enterpriseId,
            `qcc_administrative_license_china`.`code`,
            `qcc_administrative_license_china`.`authority`,
            `qcc_administrative_license_china`.`decided_date` decidedDate
        FROM
            `qcc_administrative_license_china`
        WHERE
            qcc_administrative_license_china.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
            and qcc_administrative_license_china.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>

    <select id="listQccTaxArrearsNoticeVO" resultType="com.rtc.manager.vo.QccTaxArrearsNoticeVO">
        SELECT
            `qcc_tax_arrears_notice`.`id`,
            `qcc_tax_arrears_notice`.`enterprise_id` enterpriseId,
            `qcc_tax_arrears_notice`.`type`,
            `qcc_tax_arrears_notice`.`balance`,
            `qcc_tax_arrears_notice`.`current_arrears` currentArrears,
            `qcc_tax_arrears_notice`.`release_company` releaseCompany,
            `qcc_tax_arrears_notice`.`release_date` releaseDate
        FROM
            `qcc_tax_arrears_notice`
        WHERE
            qcc_tax_arrears_notice.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
            and qcc_tax_arrears_notice.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>

    <select id="listQccEquityPledgeVO" resultType="com.rtc.manager.vo.QccEquityPledgeVO">
        SELECT
            `qcc_equity_pledge`.`id`,
            `qcc_equity_pledge`.`enterprise_id` enterpriseId,
            `qcc_equity_pledge`.`name`,
            `qcc_equity_pledge`.`shares`,
            `qcc_equity_pledge`.`value`,
            `qcc_equity_pledge`.`pledge_status` pledgeStatus,
            `qcc_equity_pledge`.`announcement_date` announcementDate
        FROM
            `qcc_equity_pledge`
        WHERE
            qcc_equity_pledge.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
            and qcc_equity_pledge.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>

    <select id="listQccEquityOutPledgeVO" resultType="com.rtc.manager.vo.QccEquityOutPledgeVO">
        SELECT
            `qcc_equity_out_pledge`.`id`,
            `qcc_equity_out_pledge`.`enterprise_id` enterpriseId,
            `qcc_equity_out_pledge`.`code`,
            `qcc_equity_out_pledge`.`pledgor`,
            `qcc_equity_out_pledge`.`pledgee`,
            `qcc_equity_out_pledge`.`enterprise`,
            `qcc_equity_out_pledge`.`amount`,
            `qcc_equity_out_pledge`.`registration_date` registrationDate,
            `qcc_equity_out_pledge`.`pledge_status` pledgeStatus
        FROM
            `qcc_equity_out_pledge`
        WHERE
            qcc_equity_out_pledge.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
            and qcc_equity_out_pledge.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>

    <select id="listQccShareholderThreeVO" resultType="com.rtc.manager.vo.QccShareholderThreeVO">
        SELECT `qcc_shareholder_three`.`id`,
               `qcc_shareholder_three`.`enterprise_id` enterpriseId,
               `qcc_shareholder_three`.`name`,
               `qcc_shareholder_three`.`ratio`,
               `qcc_shareholder_three`.`numbers`,
               `qcc_shareholder_three`.`gmt_create` gmtCreate,
               `qcc_shareholder_three`.`gmt_modified` gmtModified,
               `qcc_shareholder_three`.`status` status
        FROM `qcc_shareholder_three`
        WHERE
            qcc_shareholder_three.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
          and qcc_shareholder_three.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccQualificationVO" resultType="com.rtc.manager.vo.QccQualificationVO">
        SELECT `qcc_qualification`.`id`,
               `qcc_qualification`.`enterprise_id` enterpriseId,
               `qcc_qualification`.`type`,
               `qcc_qualification`.`code`,
               `qcc_qualification`.`name`,
               `qcc_qualification`.`release_date` releaseDate,
               `qcc_qualification`.`validity`,
               `qcc_qualification`.`authority`,
               `qcc_qualification`.`gmt_create` gmtCreate,
               `qcc_qualification`.`gmt_modified` gmtModified,
               `qcc_qualification`.`status` status
        FROM `qcc_qualification`
        WHERE
            qcc_qualification.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
          and qcc_qualification.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccOutInvestmentVO" resultType="com.rtc.manager.vo.QccOutInvestmentVO">
        SELECT `qcc_out_investment`.`id`,
               `qcc_out_investment`.`enterprise_id` enterpriseId,
               `qcc_out_investment`.`name`,
               `qcc_out_investment`.`legal_representative` legalRepresentative,
               `qcc_out_investment`.`registered_capital` registeredCapital,
               `qcc_out_investment`.`ratio`,
               `qcc_out_investment`.`amount`,
               `qcc_out_investment`.`release_date` releaseDate,
               `qcc_out_investment`.`investment_status` investmentStatus,
               `qcc_out_investment`.`round`,
               `qcc_out_investment`.`financing_date` financingDate,
               `qcc_out_investment`.`products_institutions` productsInstitutions,
               `qcc_out_investment`.`gmt_create` gmtCreate,
               `qcc_out_investment`.`gmt_modified` gmtModified,
               `qcc_out_investment`.`status`
        FROM `qcc_out_investment`
        WHERE
            qcc_out_investment.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
          and qcc_out_investment.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccShareholderInvestmentVO" resultType="com.rtc.manager.vo.QccShareholderInvestmentVO">
        SELECT `qcc_shareholder_investment`.`id`,
               `qcc_shareholder_investment`.`enterprise_id` enterpriseId,
               `qcc_shareholder_investment`.`shareholder`,
               `qcc_shareholder_investment`.`ratio`,
               `qcc_shareholder_investment`.`subscribed_capital` subscribedCapital,
               `qcc_shareholder_investment`.`subscribed_date` subscribedDate,
               `qcc_shareholder_investment`.`publication`,
               `qcc_shareholder_investment`.`gmt_create` gmtCreate,
               `qcc_shareholder_investment`.`gmt_modified` gmtModified,
               `qcc_shareholder_investment`.`status`
        FROM `qcc_shareholder_investment`
        WHERE
                qcc_shareholder_investment.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
        and qcc_shareholder_investment.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccEquityChangeVO" resultType="com.rtc.manager.vo.QccEquityChangeVO">
        SELECT `qcc_equity_change`.`id`,
               `qcc_equity_change`.`enterprise_id` enterpriseId,
               `qcc_equity_change`.`shareholder`,
               `qcc_equity_change`.`before`,
               `qcc_equity_change`.`after`,
               `qcc_equity_change`.`change_date` changeDate,
               `qcc_equity_change`.`release_date` releaseDate,
               `qcc_equity_change`.`gmt_create` gmtCreate,
               `qcc_equity_change`.`gmt_modified` gmtModified,
               `qcc_equity_change`.`status`
        FROM `qcc_equity_change`
        WHERE
            qcc_equity_change.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
          and qcc_equity_change.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccChangeRecordVO" resultType="com.rtc.manager.vo.QccChangeRecordVO">
        SELECT `qcc_change_record`.`id`,
               `qcc_change_record`.`enterprise_id` enterpriseId,
               `qcc_change_record`.`change_date` changeDate,
               `qcc_change_record`.`change_content` changeContent,
               `qcc_change_record`.`before_change` beforeChange,
               `qcc_change_record`.`after_change` afterChange,
               `qcc_change_record`.`gmt_create` gmtCreate,
               `qcc_change_record`.`gmt_modified` gmtModified,
               `qcc_change_record`.`status`
        FROM `qcc_change_record`
        WHERE
            qcc_change_record.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
          and qcc_change_record.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccSpotCheckVO" resultType="com.rtc.manager.vo.QccSpotCheckVO">
        SELECT `qcc_spot_check`.`id`,
               `qcc_spot_check`.`enterprise_id` enterpriseId,
               `qcc_spot_check`.`organization`,
               `qcc_spot_check`.`type`,
               `qcc_spot_check`.`inspection_date` inspectionDate,
               `qcc_spot_check`.`result`,
               `qcc_spot_check`.`gmt_create` gmtCreate,
               `qcc_spot_check`.`gmt_modified` gmtModified,
               `qcc_spot_check`.`status`
        FROM `qcc_spot_check`
        WHERE
            qcc_spot_check.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
          and qcc_spot_check.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccJudicialAuctionVO" resultType="com.rtc.manager.vo.QccJudicialAuctionVO">
        SELECT `qcc_judicial_auction`.`id`,
               `qcc_judicial_auction`.`enterprise_id` enterpriseId,
               `qcc_judicial_auction`.`title`,
               `qcc_judicial_auction`.`start_price` startPrice,
               `qcc_judicial_auction`.`auction_time` auctionTime,
               `qcc_judicial_auction`.`court`,
               `qcc_judicial_auction`.`gmt_create` gmtCreate,
               `qcc_judicial_auction`.`gmt_modified` gmtModified,
               `qcc_judicial_auction`.`status`
        FROM `qcc_judicial_auction`
        WHERE
            qcc_judicial_auction.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
          and qcc_judicial_auction.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>
    <select id="listQccEnvironmentalPunishmentVO" resultType="com.rtc.manager.vo.QccEnvironmentalPunishmentVO">
        SELECT `qcc_environmental_punishment`.`id`,
               `qcc_environmental_punishment`.`enterprise_id` enterpriseId,
               `qcc_environmental_punishment`.`code`,
               `qcc_environmental_punishment`.`type`,
               `qcc_environmental_punishment`.`penalty_unite` penaltyUnite,
               `qcc_environmental_punishment`.`penalty_date` penaltyDate,
               `qcc_environmental_punishment`.`implementation`,
               `qcc_environmental_punishment`.`gmt_create` gmtCreate,
               `qcc_environmental_punishment`.`gmt_modified` gmtModified,
               `qcc_environmental_punishment`.`status`
        FROM `qcc_environmental_punishment`
        WHERE
                qcc_environmental_punishment.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
          and qcc_environmental_punishment.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>

    <select id="listQccTaxViolationVO" resultType="com.rtc.manager.vo.QccTaxViolationVO">
        SELECT `qcc_tax_violation`.`id`,
               `qcc_tax_violation`.`enterprise_id` enterpriseId,
               `qcc_tax_violation`.`release_date` releaseDate,
               `qcc_tax_violation`.`tax_authorities` taxAuthorities,
               `qcc_tax_violation`.`case_nature` caseNature,
               `qcc_tax_violation`.`illegal_fact` illegalFact,
               `qcc_tax_violation`.`basis_punishment` basisPunishment,
               `qcc_tax_violation`.`gmt_create` gmtCreate,
               `qcc_tax_violation`.`gmt_modified` gmtModified,
               `qcc_tax_violation`.`status`
        FROM `qcc_tax_violation`
        WHERE
            qcc_tax_violation.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
          and qcc_tax_violation.`status`= ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    </select>

    <select id="checkFavouriteQcc" resultType="java.lang.String">
        SELECT
            qcc.enterprise_id
        FROM
            qcc
        WHERE
            qcc.enterprise_id = #{enterpriseId, jdbcType=VARCHAR}
            and qcc.`status` = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
            and EXISTS (
                SELECT enterprise_id
                FROM rtc_user_favourite
                WHERE rtc_user_favourite.enterprise_id = qcc.enterprise_id
                    AND rtc_user_favourite.user_id = #{userId, jdbcType=VARCHAR}
            )
    </select>

    <update id="deleteEnterprise">
        UPDATE ${tb}
        SET
            status = ${@com.rtc.manager.util.CommonConst@STATUS_NOT_USED}
        WHERE
            id = #{pid,jdbcType=INTEGER}
    </update>
</mapper>