<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.QccRemoveExceptionMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.QccRemoveException">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="save_reason" jdbcType="VARCHAR" property="saveReason" />
    <result column="desicion_authority" jdbcType="VARCHAR" property="desicionAuthority" />
    <result column="remove_date" jdbcType="VARCHAR" property="removeDate" />
    <result column="remove_reason" jdbcType="VARCHAR" property="removeReason" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="save_date" jdbcType="VARCHAR" property="saveDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, save_reason, desicion_authority, remove_date, remove_reason, gmt_create, 
    gmt_modify, status, save_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qcc_remove_exception
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qcc_remove_exception
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.QccRemoveException">
    insert into qcc_remove_exception (id, enterprise_id, save_reason, 
      desicion_authority, remove_date, remove_reason, 
      gmt_create, gmt_modify, status, 
      save_date)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{saveReason,jdbcType=VARCHAR}, 
      #{desicionAuthority,jdbcType=VARCHAR}, #{removeDate,jdbcType=VARCHAR}, #{removeReason,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{saveDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.QccRemoveException">
    insert into qcc_remove_exception
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="saveReason != null">
        save_reason,
      </if>
      <if test="desicionAuthority != null">
        desicion_authority,
      </if>
      <if test="removeDate != null">
        remove_date,
      </if>
      <if test="removeReason != null">
        remove_reason,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="saveDate != null">
        save_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="saveReason != null">
        #{saveReason,jdbcType=VARCHAR},
      </if>
      <if test="desicionAuthority != null">
        #{desicionAuthority,jdbcType=VARCHAR},
      </if>
      <if test="removeDate != null">
        #{removeDate,jdbcType=VARCHAR},
      </if>
      <if test="removeReason != null">
        #{removeReason,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="saveDate != null">
        #{saveDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.QccRemoveException">
    update qcc_remove_exception
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="saveReason != null">
        save_reason = #{saveReason,jdbcType=VARCHAR},
      </if>
      <if test="desicionAuthority != null">
        desicion_authority = #{desicionAuthority,jdbcType=VARCHAR},
      </if>
      <if test="removeDate != null">
        remove_date = #{removeDate,jdbcType=VARCHAR},
      </if>
      <if test="removeReason != null">
        remove_reason = #{removeReason,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="saveDate != null">
        save_date = #{saveDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.QccRemoveException">
    update qcc_remove_exception
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      save_reason = #{saveReason,jdbcType=VARCHAR},
      desicion_authority = #{desicionAuthority,jdbcType=VARCHAR},
      remove_date = #{removeDate,jdbcType=VARCHAR},
      remove_reason = #{removeReason,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      save_date = #{saveDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>