<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.QccSoftwareCopyrightMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.QccSoftwareCopyright">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="release_date" jdbcType="VARCHAR" property="releaseDate" />
    <result column="abbreviation" jdbcType="VARCHAR" property="abbreviation" />
    <result column="registration_number" jdbcType="VARCHAR" property="registrationNumber" />
    <result column="registration_approval_date" jdbcType="VARCHAR" property="registrationApprovalDate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, name, version, release_date, abbreviation, registration_number, 
    registration_approval_date, gmt_create, gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qcc_software_copyright
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qcc_software_copyright
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.QccSoftwareCopyright">
    insert into qcc_software_copyright (id, enterprise_id, name, 
      version, release_date, abbreviation, 
      registration_number, registration_approval_date, 
      gmt_create, gmt_modified, status
      )
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{releaseDate,jdbcType=VARCHAR}, #{abbreviation,jdbcType=VARCHAR}, 
      #{registrationNumber,jdbcType=VARCHAR}, #{registrationApprovalDate,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.QccSoftwareCopyright">
    insert into qcc_software_copyright
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="releaseDate != null">
        release_date,
      </if>
      <if test="abbreviation != null">
        abbreviation,
      </if>
      <if test="registrationNumber != null">
        registration_number,
      </if>
      <if test="registrationApprovalDate != null">
        registration_approval_date,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="abbreviation != null">
        #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="registrationNumber != null">
        #{registrationNumber,jdbcType=VARCHAR},
      </if>
      <if test="registrationApprovalDate != null">
        #{registrationApprovalDate,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.QccSoftwareCopyright">
    update qcc_software_copyright
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        release_date = #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="abbreviation != null">
        abbreviation = #{abbreviation,jdbcType=VARCHAR},
      </if>
      <if test="registrationNumber != null">
        registration_number = #{registrationNumber,jdbcType=VARCHAR},
      </if>
      <if test="registrationApprovalDate != null">
        registration_approval_date = #{registrationApprovalDate,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.QccSoftwareCopyright">
    update qcc_software_copyright
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      release_date = #{releaseDate,jdbcType=VARCHAR},
      abbreviation = #{abbreviation,jdbcType=VARCHAR},
      registration_number = #{registrationNumber,jdbcType=VARCHAR},
      registration_approval_date = #{registrationApprovalDate,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>