<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.QccShareholderInvestmentMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.QccShareholderInvestment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="shareholder" jdbcType="VARCHAR" property="shareholder" />
    <result column="ratio" jdbcType="VARCHAR" property="ratio" />
    <result column="subscribed_capital" jdbcType="VARCHAR" property="subscribedCapital" />
    <result column="subscribed_date" jdbcType="VARCHAR" property="subscribedDate" />
    <result column="publication" jdbcType="VARCHAR" property="publication" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, shareholder, ratio, subscribed_capital, subscribed_date, publication, 
    gmt_create, gmt_modify, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qcc_shareholder_investment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qcc_shareholder_investment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.QccShareholderInvestment">
    insert into qcc_shareholder_investment (id, enterprise_id, shareholder, 
      ratio, subscribed_capital, subscribed_date, 
      publication, gmt_create, gmt_modify, 
      status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{shareholder,jdbcType=VARCHAR}, 
      #{ratio,jdbcType=VARCHAR}, #{subscribedCapital,jdbcType=VARCHAR}, #{subscribedDate,jdbcType=VARCHAR}, 
      #{publication,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.QccShareholderInvestment">
    insert into qcc_shareholder_investment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="shareholder != null">
        shareholder,
      </if>
      <if test="ratio != null">
        ratio,
      </if>
      <if test="subscribedCapital != null">
        subscribed_capital,
      </if>
      <if test="subscribedDate != null">
        subscribed_date,
      </if>
      <if test="publication != null">
        publication,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="shareholder != null">
        #{shareholder,jdbcType=VARCHAR},
      </if>
      <if test="ratio != null">
        #{ratio,jdbcType=VARCHAR},
      </if>
      <if test="subscribedCapital != null">
        #{subscribedCapital,jdbcType=VARCHAR},
      </if>
      <if test="subscribedDate != null">
        #{subscribedDate,jdbcType=VARCHAR},
      </if>
      <if test="publication != null">
        #{publication,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.QccShareholderInvestment">
    update qcc_shareholder_investment
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="shareholder != null">
        shareholder = #{shareholder,jdbcType=VARCHAR},
      </if>
      <if test="ratio != null">
        ratio = #{ratio,jdbcType=VARCHAR},
      </if>
      <if test="subscribedCapital != null">
        subscribed_capital = #{subscribedCapital,jdbcType=VARCHAR},
      </if>
      <if test="subscribedDate != null">
        subscribed_date = #{subscribedDate,jdbcType=VARCHAR},
      </if>
      <if test="publication != null">
        publication = #{publication,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.QccShareholderInvestment">
    update qcc_shareholder_investment
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      shareholder = #{shareholder,jdbcType=VARCHAR},
      ratio = #{ratio,jdbcType=VARCHAR},
      subscribed_capital = #{subscribedCapital,jdbcType=VARCHAR},
      subscribed_date = #{subscribedDate,jdbcType=VARCHAR},
      publication = #{publication,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>