<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.QccTaxViolationMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.QccTaxViolation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="release_date" jdbcType="VARCHAR" property="releaseDate" />
    <result column="tax_authorities" jdbcType="VARCHAR" property="taxAuthorities" />
    <result column="case_nature" jdbcType="VARCHAR" property="caseNature" />
    <result column="illegal_fact" jdbcType="VARCHAR" property="illegalFact" />
    <result column="basis_punishment" jdbcType="VARCHAR" property="basisPunishment" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, release_date, tax_authorities, case_nature, illegal_fact, basis_punishment, 
    gmt_create, gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qcc_tax_violation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qcc_tax_violation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.QccTaxViolation">
    insert into qcc_tax_violation (id, enterprise_id, release_date, 
      tax_authorities, case_nature, illegal_fact, 
      basis_punishment, gmt_create, gmt_modified,
      status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{releaseDate,jdbcType=VARCHAR}, 
      #{taxAuthorities,jdbcType=VARCHAR}, #{caseNature,jdbcType=VARCHAR}, #{illegalFact,jdbcType=VARCHAR}, 
      #{basisPunishment,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.QccTaxViolation">
    insert into qcc_tax_violation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="releaseDate != null">
        release_date,
      </if>
      <if test="taxAuthorities != null">
        tax_authorities,
      </if>
      <if test="caseNature != null">
        case_nature,
      </if>
      <if test="illegalFact != null">
        illegal_fact,
      </if>
      <if test="basisPunishment != null">
        basis_punishment,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="taxAuthorities != null">
        #{taxAuthorities,jdbcType=VARCHAR},
      </if>
      <if test="caseNature != null">
        #{caseNature,jdbcType=VARCHAR},
      </if>
      <if test="illegalFact != null">
        #{illegalFact,jdbcType=VARCHAR},
      </if>
      <if test="basisPunishment != null">
        #{basisPunishment,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.QccTaxViolation">
    update qcc_tax_violation
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        release_date = #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="taxAuthorities != null">
        tax_authorities = #{taxAuthorities,jdbcType=VARCHAR},
      </if>
      <if test="caseNature != null">
        case_nature = #{caseNature,jdbcType=VARCHAR},
      </if>
      <if test="illegalFact != null">
        illegal_fact = #{illegalFact,jdbcType=VARCHAR},
      </if>
      <if test="basisPunishment != null">
        basis_punishment = #{basisPunishment,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.QccTaxViolation">
    update qcc_tax_violation
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      release_date = #{releaseDate,jdbcType=VARCHAR},
      tax_authorities = #{taxAuthorities,jdbcType=VARCHAR},
      case_nature = #{caseNature,jdbcType=VARCHAR},
      illegal_fact = #{illegalFact,jdbcType=VARCHAR},
      basis_punishment = #{basisPunishment,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>