<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.QccTaxArrearsNoticeMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.QccTaxArrearsNotice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="balance" jdbcType="VARCHAR" property="balance" />
    <result column="current_arrears" jdbcType="VARCHAR" property="currentArrears" />
    <result column="release_company" jdbcType="VARCHAR" property="releaseCompany" />
    <result column="release_date" jdbcType="VARCHAR" property="releaseDate" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, enterprise_id, type, balance, current_arrears, release_company, release_date, 
    gmt_create, gmt_modified, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from qcc_tax_arrears_notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qcc_tax_arrears_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.QccTaxArrearsNotice">
    insert into qcc_tax_arrears_notice (id, enterprise_id, type, 
      balance, current_arrears, release_company, 
      release_date, gmt_create, gmt_modified,
      status)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{balance,jdbcType=VARCHAR}, #{currentArrears,jdbcType=VARCHAR}, #{releaseCompany,jdbcType=VARCHAR}, 
      #{releaseDate,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.QccTaxArrearsNotice">
    insert into qcc_tax_arrears_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="currentArrears != null">
        current_arrears,
      </if>
      <if test="releaseCompany != null">
        release_company,
      </if>
      <if test="releaseDate != null">
        release_date,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=VARCHAR},
      </if>
      <if test="currentArrears != null">
        #{currentArrears,jdbcType=VARCHAR},
      </if>
      <if test="releaseCompany != null">
        #{releaseCompany,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.QccTaxArrearsNotice">
    update qcc_tax_arrears_notice
    <set>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=VARCHAR},
      </if>
      <if test="currentArrears != null">
        current_arrears = #{currentArrears,jdbcType=VARCHAR},
      </if>
      <if test="releaseCompany != null">
        release_company = #{releaseCompany,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        release_date = #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.QccTaxArrearsNotice">
    update qcc_tax_arrears_notice
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      balance = #{balance,jdbcType=VARCHAR},
      current_arrears = #{currentArrears,jdbcType=VARCHAR},
      release_company = #{releaseCompany,jdbcType=VARCHAR},
      release_date = #{releaseDate,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>