<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.RtcNewsDetailMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.RtcNewsDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="news_id" jdbcType="VARCHAR" property="newsId" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.rtc.manager.entity.RtcNewsDetail">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, news_id, author, title, source, country, gmt_create, gmt_modify, status
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rtc_news_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rtc_news_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.RtcNewsDetail">
    insert into rtc_news_detail (id, news_id, author, 
      title, source, country, 
      gmt_create, gmt_modify, status, 
      content)
    values (#{id,jdbcType=INTEGER}, #{newsId,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.RtcNewsDetail">
    insert into rtc_news_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="newsId != null">
        news_id,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="newsId != null">
        #{newsId,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.RtcNewsDetail">
    update rtc_news_detail
    <set>
      <if test="newsId != null">
        news_id = #{newsId,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.rtc.manager.entity.RtcNewsDetail">
    update rtc_news_detail
    set news_id = #{newsId,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.RtcNewsDetail">
    update rtc_news_detail
    set news_id = #{newsId,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>



  <resultMap id="newsDetail" type="com.rtc.manager.vo.RtcNewsDetatilVO">
    <result column="uuid" property="newsId" jdbcType="VARCHAR"/>
    <result column="author" property="author" jdbcType="VARCHAR"/>
    <result column="title" property="title" jdbcType="VARCHAR"/>
    <result column="source" property="source" jdbcType="VARCHAR"/>
    <result column="country" property="country" jdbcType="VARCHAR"/>
    <result column="gmt_create" property="gmtCreate" jdbcType="VARCHAR"/>
    <collection property="content" ofType="String">
        <result column="content" property="content" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>
  <select id="getNewsDetail" resultMap="newsDetail">
    SELECT
        rtc_news.uuid,
        rtc_news.author,
        rtc_news.title,
        rtc_news.source,
        rtc_news.country,
        rtc_news.gmt_create,
        rtc_news_detail.content
    FROM
        rtc_news
        LEFT JOIN rtc_news_detail ON rtc_news.uuid = rtc_news_detail.news_id
    WHERE
        rtc_news_detail.status = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
        and news_id = #{newsId,jdbcType=VARCHAR}
  </select>
</mapper>