<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rtc.manager.dao.RtcUserCommentMapper">
  <resultMap id="BaseResultMap" type="com.rtc.manager.entity.RtcUserComment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="examination" jdbcType="INTEGER" property="examination" />
    <result column="enterprise_id" jdbcType="VARCHAR" property="enterpriseId" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="e_type" jdbcType="VARCHAR" property="eType" />
    <result column="stars" jdbcType="DECIMAL" property="stars" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, comment, examination, enterprise_id, nation, e_type, stars, gmt_create, gmt_modified,
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rtc_user_comment
    where id = #{id,jdbcType=INTEGER}
    and status = ${@com.rtc.manager.util.CommonConst@STATUS_USED}
    and examination = ${@com.rtc.manager.util.CommonConst@STATUS_COMMENT_EXAMINED}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rtc_user_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rtc.manager.entity.RtcUserComment">
    insert into rtc_user_comment (id, user_id, comment, 
      examination, enterprise_id, nation, 
      e_type, stars, gmt_create, gmt_modified,
      status)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{examination,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{eType,jdbcType=VARCHAR}, #{stars,jdbcType=DECIMAL}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.rtc.manager.entity.RtcUserComment">
    insert into rtc_user_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="examination != null">
        examination,
      </if>
      <if test="enterpriseId != null">
        enterprise_id,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="eType != null">
        e_type,
      </if>
      <if test="stars != null">
        stars,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="examination != null">
        #{examination,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="eType != null">
        #{eType,jdbcType=VARCHAR},
      </if>
      <if test="stars != null">
        #{stars,jdbcType=DECIMAL},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rtc.manager.entity.RtcUserComment">
    update rtc_user_comment
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="examination != null">
        examination = #{examination,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null">
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="eType != null">
        e_type = #{eType,jdbcType=VARCHAR},
      </if>
      <if test="stars != null">
        stars = #{stars,jdbcType=DECIMAL},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rtc.manager.entity.RtcUserComment">
    update rtc_user_comment
    set user_id = #{userId,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      examination = #{examination,jdbcType=INTEGER},
      enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      e_type = #{eType,jdbcType=VARCHAR},
      stars = #{stars,jdbcType=DECIMAL},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectCommentByEnterpriseId" resultType="com.rtc.manager.vo.RtcUserCommentVO">
    SELECT
        rtc_user_comment.id,
        rtc_user_comment.comment,
        rtc_user_comment.stars,
        rtc_user_comment.gmt_create gmtCreate,
        rtc_user.nickname,
	    rtc_user.portrait
    FROM
        rtc_user_comment
        LEFT JOIN rtc_user ON rtc_user_comment.user_id = rtc_user.uuid
    WHERE
        rtc_user_comment.enterprise_id = #{enterpriseId,jdbcType=VARCHAR}
        AND rtc_user_comment.`status` =  ${@com.rtc.manager.util.CommonConst@STATUS_USED}
	    AND rtc_user_comment.examination = ${@com.rtc.manager.util.CommonConst@STATUS_COMMENT_EXAMINED}
    ORDER BY
        rtc_user_comment.gmt_create DESC,
        rtc_user_comment.id DESC
  </select>
</mapper>